<mat-card class="dashboard-card">
  <mat-card-header class="dashboard-card-header">
    <mat-card-title class="dashboard-card-title">
      <!-- <mat-chip color="primary" selected>{{ [].length }}</mat-chip> -->
      Content
    </mat-card-title>
    <button type="button" mat-icon-button class="more-button" matTooltip="Bulk Operations" matTooltipPosition="left" disabled>
      <mat-icon>all_inclusive</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content content-main-card">
    <mat-card *ngIf="orphans.length < 1" class="start-card">
      <!-- ngIf no content blocks -->
      <mat-card-content>
        <p>There is nothing here yet. Start by adding content with the button to your bottom right.</p>
      </mat-card-content>
    </mat-card>

    <mat-accordion cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="onDropListDropped($event)" displayMode="flat" multi>
      <content-block *ngFor="let orphan of orphans" [content]="orphan" cdkDrag [ngClass]="orphan.Type">
        <mat-icon cdkDragHandle>drag_indicator</mat-icon>
      </content-block>
    </mat-accordion>

    <div class="card-actions">
      <button mat-mini-fab color="primary" (click)="openContentBlockDialog()" class="content-add-btn-main" matTooltip="Add Content" matTooltipPosition="left">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>