@import "src/theme/theme";
$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

.start-card {
    height: auto;
    margin-top: 20px !important;
    margin: 10px;
    padding: 15px;
}

.content-main-card {
    padding: 20px !important;
}

.card-actions {
    text-align: right;
}