<div class="dialog-container">
    <mat-dialog-content class="dialog-content">
        <button type="button" mat-icon-button class="dialog-close-button" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>

        <mat-card class="dialog-card">
            <mat-card-header class="dialog-card-header">
                <mat-card-title class="dialog-card-title">
                    File Select
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dialog-card-content edge-to-edge">
                <s3-upload [fileSelectDialog]="true" (fileSelect)="selectClose($event)"></s3-upload>
            </mat-card-content>
        </mat-card>
    </mat-dialog-content>
</div>