.bucket-form, .bucket-overview {
  padding: 20px 0;

  .mat-form-field {
    display: block;
  }

}

.bucket-actions {
  margin-top: 30px;
}

.form-actions {
  text-align: right;
  margin-bottom: 20px;

  button {
    margin-left: 10px;
  }
}

.content-card {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;

  border: 1px solid #eaeaea;

  .content-label {
    padding: 10px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;

    background: #fafafa;
    font-weight: 400;
    text-transform: uppercase;

    .mat-chip {
      height: 22px;
      text-transform: uppercase;
      font-weight: 400;
    }
  }

  .label-chip {
    height: 22px;
    text-transform: capitalize;
    font-weight: 400;
    background-color: #eaeaea;
  }

  .content-label:first-child {
    border-top: 0 !important;
  }

  .content-content {
    padding: 20px;
  }
}