<ng-container *ngIf="status === Status.Editing; else bucketOverview">
  <!-- <mat-card> -->
    <form class="bucket-form" [formGroup]="editBucketForm">
      <!-- Title  -->
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Section Title</mat-label>
        <input matInput formControlName="Title" placeholder="Title">
      </mat-form-field>

      <!-- Description  -->
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Section Overview (Description)</mat-label>
        <input matInput formControlName="Description" placeholder="Description" hidden>
        <div id="froala-editor-body" [froalaEditor]="editorOptions" formControlName="Description"></div>
      </mat-form-field>

      <!-- Export  -->
      <ng-container *ngIf="hasExport">
        <mat-form-field *ngIf="editBucketForm.get('Export'); let exportControl" appearance="outline" floatLabel="always">
          <mat-label>Export File</mat-label>
          <input matInput formControlName="Export" hidden>
          <input matInput [readonly]="true" placeholder="Select or Upload a File" [value]="exportControl.value.key || null" (click)="openFileSelectDialog(exportControl)">
          <button type="button" matSuffix mat-icon-button color="primary" matTooltip="Select or Upload a File" matTooltipPosition="right" (click)="openFileSelectDialog(exportControl)" class="input-suffix-btn">
            <mat-icon>attach_file</mat-icon>
          </button>
          <button *ngIf="exportControl.value.key" type="button" matSuffix mat-icon-button color="accent" matTooltip="Clear" matTooltipPosition="right" (click)="exportControl.setValue({ id: null, key: null, eTag: null, lastModified: null, size: null }); exportControl.markAsDirty()" class="input-suffix-btn">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="exportControl.invalid"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Export Title (button text)</mat-label>
          <input matInput formControlName="ExportTitle" placeholder="Export all...">
        </mat-form-field>
      </ng-container>

      <div class="form-actions">
        <button type="button" mat-button color="primary" (click)="restoreBucketForm()">Cancel</button>
        <button type="button" mat-raised-button color="primary" [disabled]="editBucketForm.pristine || editBucketForm.invalid" (click)="updateBucket()">Save</button>
      </div>
    </form>
  <!-- </mat-card> -->
</ng-container>

<ng-template #bucketOverview>
  <article class="bucket-overview">

     <div class="content-card mat-elevation-z0">
       <ng-container>
         <div class="content-label">
           <mat-chip disabled>Section Overview</mat-chip>
         </div>
         <div class="content-content">
           <section [innerHTML]="bucket.Description | markAsSafe: 'html'"></section>
         </div>
       </ng-container>
    </div>
    
    <div *ngIf="hasExport" class="content-card mat-elevation-z0">
      <ng-container>
         <div class="content-label">
           <mat-chip disabled>Section Export</mat-chip>
         </div>
         <div class="content-content">
          <p>
            <mat-chip class="label-chip" disabled>Export File</mat-chip>
          </p>  
          <div *ngIf="bucket.Export && bucket.Export.key" [innerHTML]="bucket.Export.key | S3keyRmHash"></div>
          
          <p>
            <mat-chip class="label-chip" disabled>Export Title (button text)</mat-chip>  
          </p>
          <p *ngIf="bucket.ExportTitle"> {{ bucket.ExportTitle }} </p>

        </div>
       </ng-container>
    </div>

    <footer class="bucket-actions">
      <button type="button" mat-mini-fab color="accent" (click)="editBucket()">
        <mat-icon>edit</mat-icon>
      </button>
    </footer>
  </article>
</ng-template>