<mat-card class="dashboard-card">
  <mat-card-header class="dashboard-card-header">
    <mat-card-title class="dashboard-card-title">
      <!-- <mat-chip color="primary" selected>{{ [].length }}</mat-chip> -->
      Lexicon
    </mat-card-title>
    <button type="button" mat-icon-button class="more-button" [matMenuTriggerFor]="menuUserTable" matTooltip="Bulk Operations" matTooltipPosition="left">
      <mat-icon>all_inclusive</mat-icon>
    </button>
    <mat-menu #menuUserTable="matMenu" xPosition="before">
      <ng-template matMenuContent>
        <!-- <mat-divider></mat-divider> -->
        <button type="button" mat-menu-item [matMenuTriggerFor]="deleteAllLexiconTermsPrompt" disabled>
          <mat-icon>delete</mat-icon>
          <span>Delete All Lexicon Terms</span>
        </button>
      </ng-template>
    </mat-menu>
    <mat-menu #deleteAllLexiconTermsPrompt="matMenu" xPosition="before">
      <ng-template matMenuContent>
        <button type="button" mat-menu-item disabled>
          <mat-icon>warning</mat-icon>
          <span>Are you sure?</span>
        </button>
        <mat-divider></mat-divider>
        <button type="button" mat-menu-item (click)="destroyTerms()">
          <mat-icon>check</mat-icon>
          <span>Yes</span>
        </button>
        <button type="button" mat-menu-item>
          <mat-icon>close</mat-icon>
          <span>Nope</span>
        </button>
      </ng-template>
    </mat-menu>
  </mat-card-header>

  <mat-card-content class="dashboard-card-content">
    <div class="add-term-container">
      <mat-accordion>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button type="button" mat-icon-button color="primary">
                <mat-icon>add</mat-icon>
              </button>
              <span>Add a Lexicon Term</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="createForm">
            <!-- <div fxLayout="row" fxLayoutGap="0.5%">
                  <div fxFlex="100%">
                    <mat-form-field appearance="outline">
                      <mat-label>Term</mat-label>
                      <input matInput placeholder="" formControlName="Term">
                      <mat-error *ngIf="createForm.controls.Term.invalid && createForm.controls.Term.errors.required">Term is required.</mat-error>
                    </mat-form-field>
                  </div>
                </div> -->
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Term</mat-label>
              <input matInput placeholder="" formControlName="Term" hidden>
              <div [froalaEditor]="inlineEditorOptions" formControlName="Term"></div>
              <mat-error *ngIf="createForm.controls.Term.invalid && createForm.controls.Term.errors.required">Term is required.</mat-error>
              <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Term'), { multiLine: false })">
                <mat-icon>text_format</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Example</mat-label>
              <input matInput placeholder="" formControlName="Example" hidden>
              <div [froalaEditor]="inlineEditorOptions" formControlName="Example"></div>
              <mat-error *ngIf="createForm.controls.Example.invalid && createForm.controls.Example.errors.required">Example is required.</mat-error>
              <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Example'), { multiLine: false })">
                <mat-icon>text_format</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Rationale</mat-label>
              <input matInput placeholder="" formControlName="Rationale" hidden>
              <div [froalaEditor]="inlineEditorOptions" formControlName="Rationale"></div>
              <mat-error *ngIf="createForm.controls.Rationale.invalid && createForm.controls.Rationale.errors.required">Rationale is required.</mat-error>
              <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Rationale'), { multiLine: false })">
                <mat-icon>text_format</mat-icon>
              </button>
            </mat-form-field>
            <mat-slide-toggle formControlName="Disabled" matTooltip="Hide in the platform." matTooltipPosition="right">
              Hidden
            </mat-slide-toggle>
          </form>
          <div class="form-actions">
            <!-- <button type="button" (click)="log('DOC FORM', createForm)">CONSOLE FORM VALUES</button> -->
            <button type="button" mat-button color="primary" [disabled]="!createForm.dirty && !createForm.touched" (click)="resetCreateForm();">Clear</button>
            <button type="button" mat-raised-button color="primary" (click)="createTerm();" [disabled]="!createForm.dirty">Save</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="filter-container">
      <mat-form-field appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <button *ngIf="filterValue.length > 0" type="button" matSuffix mat-icon-button color="accent" matTooltip="Clear Filter" matTooltipPosition="above" (click)="clearFilter()">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="terms-table-container">
      <form [formGroup]="TermsTableForm">
        <table mat-table #termsTable matSort [dataSource]="TermsTableDataSource" formArrayName="TermsTableRowForms" class="table-terms">

          <tr mat-header-row *matHeaderRowDef="TermsTableDisplayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; let i = index; columns: TermsTableDisplayedColumns;"></tr>

          <ng-container matColumnDef="Term">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Term </th>
            <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="TermsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Term');" class="cell-editable">
              <span *ngIf="!TermsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Term"></span>
              <div class="cell-input-container" *ngIf="TermsTableRowEditState[element.id]">
                <mat-form-field appearance="outline" class="table-cell-input">
                  <input matInput #tableRowTermInputs [value]="element.Term" formControlName="Term" id="{{element.id}}-Term" hidden>
                  <div [froalaEditor]="inlineEditorOptions" formControlName="Term"></div>
                  <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(TermsTableRowForms.get(element.id).get('Term'), { multiLine: false })">
                    <mat-icon>text_format</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="Example">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Example </th>
            <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="TermsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Example');" class="cell-editable">
              <span *ngIf="!TermsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Example"></span>
              <div class="cell-input-container" *ngIf="TermsTableRowEditState[element.id]">
                <mat-form-field appearance="outline" class="table-cell-input">
                  <input matInput #tableRowTermInputs [value]="element.Example" formControlName="Example" id="{{element.id}}-Example" hidden>
                  <div [froalaEditor]="inlineEditorOptions" formControlName="Example"></div>
                  <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(TermsTableRowForms.get(element.id).get('Example'), { multiLine: false })">
                    <mat-icon>text_format</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="Rationale">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rationale </th>
            <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="TermsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Rationale');" class="cell-editable">
              <span *ngIf="!TermsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Rationale"></span>
              <div class="cell-input-container" *ngIf="TermsTableRowEditState[element.id]">
                <mat-form-field appearance="outline" class="table-cell-input">
                  <input matInput #tableRowTermInputs [value]="element.Rationale" formControlName="Rationale" id="{{element.id}}-Rationale" hidden>
                  <div [froalaEditor]="inlineEditorOptions" formControlName="Rationale"></div>
                  <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(TermsTableRowForms.get(element.id).get('Rationale'), { multiLine: false })">
                    <mat-icon>text_format</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="Disabled">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hidden </th>
            <td mat-cell *matCellDef="let element" [formGroupName]="element.id" class="cell-editable">
              <span *ngIf="!TermsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" (click)="TermsTableRowEditState[element.id] = true;">{{ element.Disabled ? 'Yes' : 'No' }}</span>
              <div class="cell-input-container" *ngIf="TermsTableRowEditState[element.id]">
                <mat-slide-toggle formControlName="Disabled"></mat-slide-toggle>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
            <td mat-cell *matCellDef="let element"> {{ element.createdAt | date: 'MMM d, y, h:mm:ss a' }} </td>
          </ng-container>

          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
            <td mat-cell *matCellDef="let element"> {{ element.updatedAt | date: 'MMM d, y, h:mm:ss a' }} </td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled></th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="TermsTableRowEditState[element.id]" class="cell-input-container">
                <button type="button" *ngIf="TermsTableRowForms.get(element.id).dirty" mat-icon-button color="primary" matTooltip="Save" matTooltipPosition="right" [disabled]="TermsTableRowForms.controls[element.id].invalid" (click)="TermsTableRowEditState[element.id] = false; updateTerm(TermsTableRowForms.get(element.id).value)" class="table-cell-save-btn">
                  <mat-icon>check</mat-icon>
                </button>
                <button type="button" mat-icon-button color="accent" matTooltip="Cancel" matTooltipPosition="right" (click)="TermsTableRowEditState[element.id] = false; resetTermsTableRowForm(element);" class="table-cell-cancel-btn">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <button *ngIf="!TermsTableRowEditState[element.id]" type="button" mat-icon-button color="primary" [matMenuTriggerFor]="deleteTermPrompt" matTooltip="Delete Term & All Versions" matTooltipPosition="left">
                <mat-icon>delete</mat-icon>
              </button>
              <mat-menu #deleteTermPrompt="matMenu" xPosition="before">
                <ng-template matMenuContent>
                  <button type="button" mat-menu-item>
                    <mat-icon>warning</mat-icon>
                    <span>Are you sure?</span>
                  </button>
                  <mat-divider></mat-divider>
                  <button type="button" mat-menu-item (click)="deleteTerm(element)">
                    <mat-icon>check</mat-icon>
                    <span>Yes</span>
                  </button>
                  <button type="button" mat-menu-item>
                    <mat-icon>close</mat-icon>
                    <span>Nope</span>
                  </button>
                </ng-template>
              </mat-menu>
            </td>
          </ng-container>

        </table>
      </form>
      <ng-container *ngIf="terms.length < 1">
        <table class="table-empty-message">
          <tbody>
            <tr class="mat-row">
              <td class="mat-cell">
                <span>There are currently no terms. Get started by adding terms using the form above.</span>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <mat-paginator #tablePaginator [pageIndex]="0" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>