<div class="dialog-container">
  <mat-dialog-content class="dialog-content">
      <button type="button" mat-icon-button class="dialog-close-button" (click)="close()">
          <mat-icon>close</mat-icon>
      </button>

      <mat-card class="dialog-card">
          <mat-card-header class="dialog-card-header">
              <mat-card-title class="dialog-card-title">
                  File Upload Error
              </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dialog-card-content edge-to-edge">
              <div class="error-message-container">
                <mat-icon class="dialog-error-icon">error</mat-icon>
                <p class="dialog-error-message">{{message}}</p>
              </div>
          </mat-card-content>
      </mat-card>
  </mat-dialog-content>
</div>