.dialog-container {
    position: relative;
    display: flex;

    padding: 0px 24px;
    margin: 0;

    .dialog-close-button {
        position: absolute;
        top: 8px;
        right: 110px;
        // color: white;
        z-index: 99;
    }

    .dialog-save-close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        // color: white;
        z-index: 99;
        border: 1px solid #ccc;

        padding: 0 !important;
    }

    h4 {
        margin: 0 0 12px 0;
        padding: 0 0 12px 0;
        font-weight: normal;
        text-transform: uppercase;
    }

    .dialog-content {
        padding: 6px;

        .dialog-card {
            margin: 0px 0px 20px 0px;

            .dialog-card-content {
                padding: 10px;
            }

            .edge-to-edge {
              padding: 0;
            }
           
            &:last-child {
              margin: 0;
            }

        }
    }

}

.flex-bridge {
    flex: 1 1 auto;
}

.filter-container {
    padding: 20px;

    -webkit-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);

    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .mat-form-field {
        width: 100%;
    }
}

// -------------------------------------
//   Tables
// -------------------------------------
.references-table-container {
  .mat-column-UniqueID {
    flex: 0 0 100px;
    width: 100px;
  }

  .mat-column-VersionId {
    flex: 0 0 150px;
    width: 150px;
  }

  .mat-column-DisplayName {
    flex: 1 1 0;
  }

  .mat-column-Title {
    flex: 2 1 0;
  }

  .mat-column-ShortCitation {
    flex: 1 1 0;
  }

  .mat-column-Citation {
    flex: 1 1 0;
  }

  .mat-column-FilePath {
    flex: 1 1 0;
  }

  .mat-column-SourceFilePath {
    flex: 1 1 0;
  }

  .mat-column-AnnotatedFilePath {
    flex: 1 1 0;
  }

  .mat-column-References {
    flex: 1 1 0;
  }

  .mat-column-Tags {
    flex: 1 1 0;
  }

  .mat-column-Subtags {
    flex: 1 1 0;
  }

  .mat-column-Annotated {
    flex: 1 1 0;
  }

  .mat-column-Disabled {
    flex: 1 1 0;
  }

  .mat-column-Cache {
    flex: 1 1 0;
  }

  .mat-column-createdAt {
    flex: 0 0 150px;
    width: 150px;
  }

  .mat-column-updatedAt {
    flex: 0 0 150px;
    width: 150px;
  }

  .mat-column-Select {
    flex: 0 0 80px;
    width: 80px;
  }
}