<mat-card class="dashboard-card">
  <mat-card-header class="dashboard-card-header">
    <mat-card-title class="dashboard-card-title">
      Settings
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="dashboard-card-content configuration-main-card">

    <settings-configuration *ngIf="settings.length; else emptyMessage" [settings]="settings"></settings-configuration>

  </mat-card-content>
</mat-card>

<mat-card class="dashboard-card">
  <mat-card-header class="dashboard-card-header">
    <mat-card-title class="dashboard-card-title">
      <!-- <mat-chip color="primary" selected>{{ [].length }}</mat-chip> -->
      Buckets
    </mat-card-title>
    <!-- <button type="button" mat-icon-button class="more-button" [matMenuTriggerFor]="menuUserTable" matTooltip="Bulk Operations" matTooltipPosition="left">
          <mat-icon>all_inclusive</mat-icon>
        </button> -->
  </mat-card-header>

  <mat-card-content class="dashboard-card-content configuration-main-card">

    <div *ngIf="buckets.length; else emptyMessage" class="configuration-container">
      <mat-accordion>
        <mat-expansion-panel expanded="false" *ngFor="let bucket of buckets | orderBy: 'Title'; trackBy: trackBucketById">

          <mat-expansion-panel-header>
            <mat-panel-title>
              {{bucket.Title}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <bucket-configuration [bucket]="bucket"></bucket-configuration>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #emptyMessage>
  <mat-card class="start-card">
    <!-- ngIf no content blocks -->
    <mat-card-content>
      <p>There is currently nothing to configure.</p>
    </mat-card-content>
  </mat-card>
</ng-template>