@import "src/theme/theme";
$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

// -------------------------------------
//   Add Document
// -------------------------------------
.start-card {
  height: auto;
  margin-top: 20px !important;
  margin: 10px;
  padding: 15px;
}

.configuration-main-card {
  padding: 20px !important;
}

.configuration-container {
  margin-bottom: 5px;
  padding: 0px;

  -webkit-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);

  // border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .mat-expansion-panel {
    margin-bottom: 5px;
    background: none;
    box-shadow: none;
    border: 1px solid #eaeaea;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    // border-bottom: 2px solid #eaeaea;

    .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        line-height: 40px;
        color: rgba(0,0,0,0.7);
      }

      // border-top: 3px solid rgba(156, 39, 176, 1);
      // border-top: 2px solid #666;
      background: #fafafa;
    }

    .mat-expansion-panel-body {
      padding: 10px !important;
    }

    .content-card {
      margin: 0px;
      margin-top: 10px;
      padding: 0px;

      border: 1px solid #eaeaea;

      .content-label {
        padding: 10px;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;

        background: #fafafa;
        font-weight: 400;
        text-transform: uppercase;

        .mat-chip {
          height: 22px;
          text-transform: uppercase;
          font-weight: 400;
        }
      }

      .content-label:first-child {
        border-top: 0 !important;
      }

      .content-content {
        padding: 20px;
      }
    }


    .actions {
      display: flex;
      margin: 0px 0px 10px 0px;
      padding: 5px 10px;
      border: 1px solid #eaeaea;
      border-top: 0;
      background: #fff;
    }


  }
}

.bucket-form {

  .mat-form-field {
    display: block;
  }

}

.bucket-actions {
  margin-top: 30px;
}

.flex-bridge {
  flex: 1 1 auto;
}