.dialog-container {
    position: relative;
    display: flex;

    padding: 0px 24px;
    margin: 0;

    .dialog-close-button {
        position: absolute;
        top: 8px;
        right: 10px;
        // color: white;
        z-index: 99;
    }

    h4 {
        margin: 0 0 12px 0;
        padding: 0 0 12px 0;
        font-weight: normal;
        text-transform: uppercase;
    }

    .dialog-content {
        padding: 6px;

        .dialog-card {
            margin: 0px 0px 20px 0px;

            .dialog-card-content {
                padding: 10px;

                .tag-input {
                    width: 100%;
                }

                .tag-save-btn {
                    float: right;
                    clear: both;
                }

                .btn-clearfix {
                    display: inline-block;
                    height: 36px;
                    width: 36px;
                }

                .add-subtag-container {
                  padding: 20px;
                  -webkit-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
                  -moz-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
                  box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
                  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                }

                .form-actions {
                  text-align: right;
                  button {
                    margin-left: 10px;
                  }
                }

                .add-subtag-input {
                    width: 100%;
                }

            }

            .edge-to-edge {
              padding: 0;
            }
           
            &:last-child {
              margin: 0;
            }

        }
    }

}

.add-document-container {
  padding: 0px;

  -webkit-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .mat-expansion-panel {
    background: none;
    box-shadow: none;

    .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        line-height: 40px;
        font-weight: 500;
        font-size: .9em;
        // text-transform: uppercase;
      }
    }

    .form-actions {
      text-align: right;

      button {
        margin-left: 10px;
      }
    }
  }

  .mat-form-field {
    display: block;
  }

  .file-input-form-field {
    margin-bottom: 1.75em;

    .mat-form-field-infix {
      padding: 0 !important;
    }
  }

  .cell-file-input-form-field {
    margin-bottom: 0 !important;
  }

  .mat-slide-toggle {
    margin-right: 40px;
  }

  .mat-cell {
    .mat-form-field {
      display: flex;
      flex: 1 1 auto;

      .mat-form-field-wrapper {
        flex: 1 1 auto;
      }
    }
  }
}

.flex-bridge {
    flex: 1 1 auto;
}

.title-chip {
  margin-top: -10px;
  margin-right: 4px;
  line-height: 12px;
}

// -------------------------------------
//   Tables
// -------------------------------------
.documents-table-container {
  .mat-column-Master {
    flex: 1;
    // width: calc(15% - 460px) !important;
    width: 100px;
  }

  .mat-column-VersionId {
    flex: 1;
    // width: calc(15% - 460px) !important;
    width: 150px;
  }

  .mat-column-Title {
    flex: 1;
    // width: calc(35% - 460px) !important;
  }

  .mat-column-FilePath {
    flex: 1;
    // width: calc(25% - 460px) !important;
    width: 20%
  }

  .mat-column-ThumbnailPath {
    flex: 1;
    // width: calc(25% - 460px) !important;
    width: 20%;
  }

  .mat-column-Disabled {
    flex: 1;
    width: 80px;
  }

  .mat-column-Cache {
    flex: 1;
    width: 80px;
  }

  .mat-column-createdAt {
    flex: 1;
    width: 200px;
  }

  .mat-column-updatedAt {
    flex: 1;
    width: 200px;
  }

  .mat-column-Actions {
    flex: 1;
    width: 100px;
  }
}

.table-empty-message {
    width: 100%;
    text-align: center;

    .mat-row, .mat-cell {
        border-bottom: 0;
    }
}
