<mat-card class="dashboard-card">
  <mat-card-header class="dashboard-card-header">
    <mat-card-title class="dashboard-card-title">
      <!-- <mat-chip color="primary" selected>{{ [].length }}</mat-chip> -->
      Files
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <s3-upload [fileSelectDialog]="false"></s3-upload>
  </mat-card-content>
</mat-card>