<div class="add-document-container">
    <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <button type="button" mat-icon-button color="primary">
                        <mat-icon>add</mat-icon>
                    </button>
                    <span>Upload File</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="createForm">
                <div fxLayout="row" fxLayoutGap="0.5%">
                    <div fxFlex="20%">
                        <mat-form-field appearance="outline">
                            <mat-label>Directory</mat-label>
                            <mat-select formControlName="Directory">
                                <mat-option value="documents">documents/</mat-option>
                                <mat-option value="references">references/</mat-option>
                                <mat-option value="images">images/</mat-option>
                            </mat-select>
                            <mat-error *ngIf="createForm.controls.Directory.invalid && createForm.controls.Directory.errors.required">Directory is required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="80%">
                        <mat-form-field appearance="outline" floatLabel="always" class="file-input-form-field" matTooltip="Select or Drag & Drop" matTooltipPosition="above">
                            <mat-label>File</mat-label>
                            <input matInput placeholder="Upload a File" formControlName="File" hidden>
                            <input-file 
                                formControlName="File" 
                                fileAccept=".pdf,.ppt,.pptx,.doc,.docx,.xls,.xlsx,.png,.PNG,.jpg,.jpeg,.gif"
                                iconAdd="attach_file" 
                                iconFile="attachment" 
                                iconDelete="cancel"
                            ></input-file>
                            <mat-hint>Supported File Types: .PDF, .PPT/X, .DOC/X, .XLS/X, .PNG, .JPG, .JPEG, .GIF</mat-hint>
                            <mat-error *ngIf="createForm.controls.File.invalid && createForm.controls.File.errors.required">File is required.</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <div class="form-actions">
                <!-- <button type="button" (click)="log('DOC FORM', createForm)">CONSOLE FORM VALUES</button> -->
                <button type="button" mat-button color="primary" [disabled]="!createForm.dirty && !createForm.touched" (click)="resetCreateForm();">Clear</button>
                <div *ngIf="uploading" class="progress-spinner-container"><mat-spinner [color]="primary" [diameter]="26" class="progress-spinner"></mat-spinner></div>
                <button type="button" *ngIf="!uploading" mat-raised-button color="primary" (click)="upload(createForm.get('Directory').value, createForm.get('File').value)"
                [disabled]="!createForm.dirty">
                    {{ uploadError ? 'Try Again': 'Upload' }}
                </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<mat-card>
    <div class="filter-container">
        <mat-form-field appearance="outline">
            <mat-label>Filter</mat-label>
            <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            <button 
            *ngIf="filterValue.length > 0"
            type="button" 
            matSuffix
            mat-icon-button 
            color="accent" 
            matTooltip="Clear Filter" 
            matTooltipPosition="above"
            (click)="clearFilter()"
            >
                <mat-icon>clear</mat-icon>
            </button>
        </mat-form-field>                
    </div>
</mat-card>
<mat-card>
    <mat-card-header class="dashboard-card-header" *ngIf="!fileSelectDialog">
        <mat-card-title class="dashboard-card-title">
            Files Available in the Content Management System
        </mat-card-title>
        <div class="bulk-operation-loader" *ngIf="bulkCreatingS3Objects">
            <mat-icon class="fa-spin">cached</mat-icon>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p class="table-disclaimer" *ngIf="!fileSelectDialog">These files are uploaded to cloud storage and are
          available for association to References and Documents in the content management system.</p>
        <div class="files-table-container">
            <table mat-table #filesTable #FilesTableSort="matSort" [dataSource]="FilesTableDataSource" matSort class="table-abbreviations">
        
                <tr mat-header-row *matHeaderRowDef="FilesTableDisplayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; let i = index; columns: FilesTableDisplayedColumns;"></tr>
        
                <ng-container matColumnDef="Select">
                    <th mat-header-cell *matHeaderCellDef> Select </th>
                    <td mat-cell *matCellDef="let element">
                        <button type="button" mat-icon-button color="primary" matTooltip="Select File" matTooltipPosition="right" (click)="select(element)">
                            <mat-icon>save_alt</mat-icon>
                        </button>
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="s3cloud">
                    <th mat-header-cell *matHeaderCellDef>Cloud</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon class="s3-ok" *ngIf="validateFileExistsInS3(element)" matTooltip="File is stored in S3 Cloud Storage & ready for viewing and downloading" matTooltipPosition="right">cloud_circle</mat-icon>
                        <mat-icon class="s3-warning" *ngIf="!validateFileExistsInS3(element)" matTooltip="File Not Found in S3 Cloud Storage. Contact Development Team." matTooltipPosition="right">warning</mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="associations">
                    <th mat-header-cell *matHeaderCellDef>Active</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon class="associations" *ngIf="element.hasAssociations" matTooltip="File is associated to content" matTooltipPosition="right">attachment</mat-icon>
                        <mat-icon class="no-associations" *ngIf="!element.hasAssociations" matTooltip="File has no associations to content" matTooltipPosition="right">remove_circle_outline</mat-icon>
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="key">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> File </th>
                    <td mat-cell *matCellDef="let element">
                        <span [innerHTML]="element.key | S3key" matTooltip="{{ element.key }}" matTooltipPosition="below"></span>
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Size (KB) </th>
                    <td mat-cell *matCellDef="let element">{{ (element.size / 1000) }} KB</td>
                </ng-container>
        
                <ng-container matColumnDef="lastModified">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified </th>
                    <td mat-cell *matCellDef="let element">{{ element.lastModified | date: 'MMM d, y, h:mm:ss a' }}</td>
                </ng-container>
        
                <ng-container matColumnDef="FileIndex">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Indexed</th>
                    <td mat-cell *matCellDef="let element">
                        <button type="button" mat-icon-button color="warn" class="index-warning" matTooltip="Generate File Index for Search" matTooltipPosition="left" (click)="element.indexing = true; getFileIndex(element)"
                            *ngIf="!element.FileIndex && !element.indexing && element.key.indexOf('pdf') !== -1">
                            <mat-icon>error</mat-icon>
                        </button>
                        <mat-icon class="index-ok" *ngIf="element.FileIndex && element.key.indexOf('pdf') !== -1" matTooltip="File indexed for search" matTooltipPosition="left">check_circle</mat-icon>
                        <mat-icon class="index-invalid" *ngIf="!(element.key.indexOf('pdf') !== -1)" matTooltip="File cannot be indexed for search" matTooltipPosition="left">not_interested</mat-icon>
                        <div class="file-index-loader" *ngIf="!element.FileIndex && element.indexing">
                            <mat-icon class="fa-spin">cached</mat-icon>
                        </div>
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button type="button" mat-icon-button color="primary" matTooltip="Open in new Tab" matTooltipPosition="left" (click)="openFileInTab(element)" [disabled]="!validateFileExistsInS3(element)">
                            <mat-icon>open_in_new</mat-icon>
                        </button>
                        <button  *ngIf="!fileSelectDialog" type="button" mat-icon-button color="primary" [matMenuTriggerFor]="deleteAbbreviationPrompt" matTooltip="Delete File" matTooltipPosition="left">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <mat-menu #deleteAbbreviationPrompt="matMenu" xPosition="before">
                            <ng-template matMenuContent>
                                <button type="button" mat-menu-item>
                                    <mat-icon>warning</mat-icon>
                                    <span>Are you sure?</span>
                                </button>
                                <mat-divider></mat-divider>
                                <button type="button" mat-menu-item (click)="deleteFile(element)">
                                    <mat-icon>check</mat-icon>
                                    <span>Yes</span>
                                </button>
                                <button type="button" mat-menu-item>
                                    <mat-icon>close</mat-icon>
                                    <span>Nope</span>
                                </button>
                            </ng-template>
                        </mat-menu>
                    </td>
                </ng-container>
            </table>
            <ng-container *ngIf="s3objects.length < 1">
                <table class="table-empty-message">
                    <tbody>
                    <tr class="mat-row">
                        <td class="mat-cell">
                            <span>There are currently no files.</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ng-container>
            <mat-paginator #tablePaginator [pageIndex]="0" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>

<ng-container *ngIf="!fileSelectDialog">
    <mat-card [hidden]="bucketFiles.length >= 1" class="bucket-files-table">
        <mat-card-header class="dashboard-card-header">
            <mat-card-title class="dashboard-card-title">
                Files Uploaded to Cloud Storage 
            </mat-card-title>
            <button type="button" mat-icon-button class="more-button" [matMenuTriggerFor]="menuPairTable" matTooltip="Bulk Operations" matTooltipPosition="left">
                <mat-icon>all_inclusive</mat-icon>
            </button>
            <mat-menu #menuPairTable="matMenu" xPosition="before">
                <ng-template matMenuContent>
                    <!-- <mat-divider></mat-divider> -->
                    <button type="button" mat-menu-item [matMenuTriggerFor]="pairAllFilesPrompt" [disabled]="bucketFiles.length === 0">
                        <mat-icon>file_copy</mat-icon>
                        <span>Make Files Available in CMS</span>
                    </button>
                </ng-template>
            </mat-menu>
            <mat-menu #pairAllFilesPrompt="matMenu" xPosition="before">
                <ng-template matMenuContent>
                    <button type="button" mat-menu-item disabled>
                        <mat-icon>warning</mat-icon>
                        <span>Are you sure?</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button type="button" mat-menu-item (click)="createS3ObjectsFromBucketFiles(bucketFiles)">
                        <mat-icon>check</mat-icon>
                        <span>Yes</span>
                    </button>
                    <button type="button" mat-menu-item>
                        <mat-icon>close</mat-icon>
                        <span>Nope</span>
                    </button>
                </ng-template>
            </mat-menu>
        </mat-card-header>
        <mat-card-content>

            <div class="files-table-container">
                <p class="table-disclaimer">These files have been uploaded to cloud storage but are not yet available for
                association to References and Documents in the content management system.</p>
                <table mat-table #bucketTable #BucketTableSort="matSort" [dataSource]="BucketTableDataSource" matSort class="table-abbreviations">
            
                    <tr mat-header-row *matHeaderRowDef="BucketTableDisplayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; let i = index; columns: BucketTableDisplayedColumns;"></tr>
            
                    <ng-container matColumnDef="Select">
                        <th mat-header-cell *matHeaderCellDef> Select </th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" mat-icon-button color="primary" matTooltip="Select File" matTooltipPosition="right" (click)="select(element)">
                                <mat-icon>save_alt</mat-icon>
                            </button>
                        </td>
                    </ng-container>
            
                    <ng-container matColumnDef="key">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> File </th>
                        <td mat-cell *matCellDef="let element">
                            <span [innerHTML]="element.key | S3key" matTooltip="{{ element.key }}" matTooltipPosition="below"></span>
                        </td>
                    </ng-container>
            
                    <ng-container matColumnDef="size">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Size (KB) </th>
                        <td mat-cell *matCellDef="let element">{{ (element.size / 1000) }} KB</td>
                    </ng-container>
            
                    <ng-container matColumnDef="lastModified">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified </th>
                        <td mat-cell *matCellDef="let element">{{ element.lastModified | date: 'MMM d, y, h:mm:ss a' }}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" mat-icon-button color="primary" matTooltip="Open in new Tab" matTooltipPosition="left" (click)="openFileInTab(element)">
                                <mat-icon>open_in_new</mat-icon>
                            </button>
                            <button type="button" mat-icon-button color="primary" matTooltip="Make File Available in CMS" matTooltipPosition="left" (click)="createS3ObjectFromBucketFile(element); element.indexing = false;">
                                <mat-icon>note_add</mat-icon>
                            </button>
                            <button type="button" mat-icon-button color="primary" [matMenuTriggerFor]="deleteAbbreviationPrompt" matTooltip="Delete File" matTooltipPosition="left">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <mat-menu #deleteAbbreviationPrompt="matMenu" xPosition="before">
                                <ng-template matMenuContent>
                                    <button type="button" mat-menu-item>
                                        <mat-icon>warning</mat-icon>
                                        <span>Are you sure?</span>
                                    </button>
                                    <mat-divider></mat-divider>
                                    <button type="button" mat-menu-item (click)="deleteFile(element)">
                                        <mat-icon>check</mat-icon>
                                        <span>Yes</span>
                                    </button>
                                    <button type="button" mat-menu-item>
                                        <mat-icon>close</mat-icon>
                                        <span>Nope</span>
                                    </button>
                                </ng-template>
                            </mat-menu>
                        </td>
                    </ng-container>
                </table>
                <ng-container *ngIf="bucketFiles.length < 1">
                    <table class="table-empty-message">
                        <tbody>
                        <tr class="mat-row">
                            <td class="mat-cell">
                            <span>There are currently no files. Get started by uploading files using the form above.</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </ng-container>
                <mat-paginator #bucketTablePaginator [pageIndex]="0" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
            </div>
        </mat-card-content>   
    </mat-card>
</ng-container>