@import "src/theme/theme";
$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

// -------------------------------------
//   Add Document
// -------------------------------------

.add-document-container {
  padding: 0px;

  -webkit-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .mat-expansion-panel {
    background: none;
    box-shadow: none;

    .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        line-height: 40px;
        font-weight: 500;
        font-size: .9em;
        // text-transform: uppercase;
      }
    }

    .form-actions {
      text-align: right;

      button {
        margin-left: 10px;
      }
    }
  }

  .mat-form-field {
    display: block;
  }

  .file-input-form-field {
    margin-bottom: 1.75em;

    .mat-form-field-infix {
      padding: 0 !important;
    }
  }

  .progress-spinner-container {
    display: block;
    float: right;
    padding: 5px 20px;
    height: 36px;
    overflow: hidden;
  }
}

// -------------------------------------
//   Tables
// -------------------------------------
.files-table-container {

  .mat-column-Select {
    flex: 0 0 50px;
    width: 50px;
  }

  .mat-column-s3cloud {
    flex: 0 0 70px;
    width: 70px; // 24px padding

    text-align: center;

    .s3-warning {
      color: darkorange;
    }
    .s3-ok {
      // color: #2E8B57;
      color: rgba(106, 125, 139, 0.85);
    }

  }

  .mat-column-associations {
    flex: 0 0 70px;
    width: 70px;

    text-align: center;

    .associations {
      // color: #2E8B57;
      color: rgba(106, 125, 139, 0.85);
    }

    .no-associations {
      color: rgba(0, 0, 0, 0.12);
    }
  }
  .mat-column-key {
    flex: 1 1 0;
  }

  .mat-column-size {
    flex: 0 0 140px;
    width: 140px;
  }

  .mat-column-FileIndex {
    flex: 0 0 70px;
    width: 70px;

    text-align: center;

    .index-warning {
      color: orange;
    }

    .index-ok {
      width: 40px;
      text-align: center;
      // color: #2E8B57;
      color: rgba(106, 125, 139, 0.85);
    }

    .index-invalid {
      width: 40px;
      text-align: center;
      color: rgba(0, 0, 0, 0.12);
    }
  }

  .mat-column-lastModified {
    flex: 0 0 200px;
    width: 200px;
  }
  .mat-column-Actions {
    flex: 0 0 140px;
    width: 140px;
  }
}

.table-disclaimer {
  padding: 15px 20px;
  font-size: .9em;
  color: #777;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.table-empty-message {
  width: 100%;
  text-align: center;
}

.file-index-loader {
  padding-left: 8px;
}

.bulk-operation-loader {
    position: absolute;
    top: 10px;
    right: 10px;
}

// -------------------------------------
//   Filter
// -------------------------------------

.filter-container {
  padding: 0;

  .mat-form-field {
    width: 100%;
  }
}


