<mat-card class="dashboard-card">
    <mat-card-header class="dashboard-card-header">
        <mat-card-title class="dashboard-card-title">
            <!-- <mat-chip color="primary" selected>{{ [].length }}</mat-chip> -->
            Documents
        </mat-card-title>
        <button type="button" mat-icon-button class="more-button" [matMenuTriggerFor]="menuUserTable" matTooltip="Bulk Operations" matTooltipPosition="left">
            <mat-icon>all_inclusive</mat-icon>
        </button>
        <mat-menu #menuUserTable="matMenu" xPosition="before">
            <ng-template matMenuContent>
                <!-- <mat-divider></mat-divider> -->
                <button type="button" mat-menu-item [matMenuTriggerFor]="deleteAllDocumentsPrompt" disabled>
                    <mat-icon>delete</mat-icon>
                    <span>Delete All Documents</span>
                </button>
            </ng-template>
        </mat-menu>
        <mat-menu #deleteAllDocumentsPrompt="matMenu" xPosition="before">
            <ng-template matMenuContent>
                <button type="button" mat-menu-item disabled>
                    <mat-icon>warning</mat-icon>
                    <span>Are you sure?</span>
                </button>
                <mat-divider></mat-divider>
                <button type="button" mat-menu-item (click)="destroyDocuments()">
                    <mat-icon>check</mat-icon>
                    <span>Yes</span>
                </button>
                <button type="button" mat-menu-item>
                    <mat-icon>close</mat-icon>
                    <span>Nope</span>
                </button>
            </ng-template>
        </mat-menu>
    </mat-card-header>

    <mat-card-content class="dashboard-card-content">
        <div class="add-document-container">
            <mat-accordion>
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <button type="button" mat-icon-button color="primary">
                                <mat-icon>add</mat-icon>
                            </button>
                            <span>Add a Document</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form [formGroup]="createForm">
                        <div fxLayout="row" fxLayoutGap="0.5%">
                            <div fxFlex="40%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Version Label</mat-label>
                                    <input matInput placeholder="For example: 1dJH" formControlName="VersionId">
                                    <mat-error *ngIf="createForm.controls.VersionId.invalid && createForm.controls.VersionId.errors.required">Version Label is required.</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="60%">
                                <mat-form-field appearance="outline" floatLabel="always">
                                    <mat-label>Document Title</mat-label>
                                    <input matInput placeholder="" formControlName="Title" hidden>
                                    <div [froalaEditor]="inlineEditorOptions" formControlName="Title"></div>
                                    <mat-error *ngIf="createForm.controls.Title.invalid && createForm.controls.Title.errors.required">Document Title is required.</mat-error>
                                    <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Title'), { multiLine: false })">
                                        <mat-icon>text_format</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="0.5%">
                            <div fxFlex="50%">
                                <mat-form-field appearance="outline" floatLabel="always">
                                    <mat-label>File</mat-label>
                                    <input matInput formControlName="FilePath" hidden>
                                    <input matInput [readonly]="true" placeholder="Select or Upload a File" [value]="createForm.get('FilePath').value.key" (click)="openFileSelectDialog(createForm.get('FilePath'))">
                                    <button type="button" matSuffix mat-icon-button color="primary" matTooltip="Select or Upload a File" matTooltipPosition="right" (click)="openFileSelectDialog(createForm.get('FilePath'))" class="input-suffix-btn">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                    <button *ngIf="createForm.get('FilePath').value.key" type="button" matSuffix mat-icon-button color="accent" matTooltip="Clear" matTooltipPosition="right" (click)="createForm.get('FilePath').setValue({ key: null, eTag: null, lastModified: null, size: null }); createForm.get('FilePath').markAsDirty()" class="input-suffix-btn">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <mat-error *ngIf="createForm.controls.FilePath.invalid"></mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="50%">
                                <mat-form-field appearance="outline" floatLabel="always">
                                    <mat-label>Source File</mat-label>
                                    <input matInput formControlName="SourceFilePath" hidden>
                                    <input matInput [readonly]="true" placeholder="Select or Upload a File" [value]="createForm.get('SourceFilePath').value.key" (click)="openFileSelectDialog(createForm.get('SourceFilePath'))">
                                    <button type="button" matSuffix mat-icon-button color="primary" matTooltip="Select or Upload a File" matTooltipPosition="right" (click)="openFileSelectDialog(createForm.get('SourceFilePath'))" class="input-suffix-btn">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                    <button *ngIf="createForm.get('SourceFilePath').value.key" type="button" matSuffix mat-icon-button color="accent" matTooltip="Clear" matTooltipPosition="right" (click)="createForm.get('SourceFilePath').setValue({ key: null, eTag: null, lastModified: null, size: null }); createForm.get('SourceFilePath').markAsDirty()" class="input-suffix-btn">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <mat-error *ngIf="createForm.controls.SourceFilePath.invalid"></mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="0.5%">
                            <div fxFlex="100%">
                                <mat-form-field appearance="outline" floatLabel="always">
                                    <mat-label>Supporting References</mat-label>
                                    <mat-select placeholder="Select Supporting References" formControlName="References" multiple>
                                        <mat-option *ngFor="let reference of references" [value]="reference.id" [hidden]="true">[ {{reference.MasterVersion.UniqueID}} ] {{reference.MasterVersion.ShortCitation}}</mat-option>
                                    </mat-select>
                                    <button type="button" matSuffix mat-icon-button color="primary" matTooltip="Select Supporting References" matTooltipPosition="right" (click)="$event.stopPropagation(); openReferenceMultiSelectDialog(createForm.get('References'))" class="input-suffix-btn">
                                        <mat-icon>list_alt</mat-icon>
                                    </button>
                                    <mat-error *ngIf="createForm.controls.References.invalid"></mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- <mat-form-field appearance="outline" floatLabel="always" class="file-input-form-field"  matTooltip="Select or Drag & Drop" matTooltipPosition="above">
                            <mat-label>Thumbnail</mat-label>
                            <input matInput placeholder="Upload a Thumbnail" formControlName="ThumbnailPath" hidden>
                            <input-file 
                                formControlName="ThumbnailPathInputFile" 
                                fileAccept=".png,.PNG,.jpg,.jpeg,.gif"
                                iconAdd="attach_file" 
                                iconFile="attachment" 
                                iconDelete="cancel"
                            ></input-file>
                            <mat-hint>Supported File Types: .PNG, .JPG, .JPEG, .GIF</mat-hint>
                            <mat-error *ngIf="createForm.controls.ThumbnailPath.invalid"></mat-error>
                        </mat-form-field> -->
                        <mat-slide-toggle formControlName="Disabled" matTooltip="Hide in the platform." matTooltipPosition="right">
                            Hidden
                        </mat-slide-toggle>
                        <mat-slide-toggle formControlName="Cache" matTooltip="Cache in the platform for viewing while offline." matTooltipPosition="right">
                            Cached (available offline)
                        </mat-slide-toggle>
                    </form>
                    <div class="form-actions">
                        <!-- <button type="button" (click)="log('DOC FORM', createForm)">CONSOLE FORM VALUES</button> -->
                        <button type="button" mat-button color="primary" [disabled]="!createForm.dirty && !createForm.touched" (click)="resetCreateForm();">Clear</button>
                        <button type="button" mat-raised-button color="primary" (click)="createDocument()" [disabled]="!createForm.dirty">Save</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="filter-container">
            <mat-form-field appearance="outline">
                <mat-label>Filter</mat-label>
                <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                <button *ngIf="filterValue.length > 0" type="button" matSuffix mat-icon-button color="accent" matTooltip="Clear Filter" matTooltipPosition="above" (click)="clearFilter()">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="documents-table-container">
            <form [formGroup]="MasterVersionsTableForm">
                <table mat-table #masterverisonsTable matSort [dataSource]="MasterVersionsTableDataSource" formArrayName="MasterVersionsTableRowForms" class="table-documents">

                    <tr mat-header-row *matHeaderRowDef="MasterVersionsTableDisplayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; let i = index; columns: MasterVersionsTableDisplayedColumns;"></tr>

                    <ng-container matColumnDef="VersionId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Version </th>
                        <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="element.id">
                            <button type="button" mat-icon-button color="primary" matTooltip="Manage Versions" matTooltipPosition="right" (click)="openDocumentVersionDialog(element.id)" class="table-cell-version-btn">
                                <mat-icon>layers</mat-icon>
                            </button>
                            {{ element.VersionId }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                        <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="MasterVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Title');" class="cell-editable">
                            <span *ngIf="!MasterVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Title"></span>
                            <div class="cell-input-container" *ngIf="MasterVersionsTableRowEditState[element.id]">
                                <mat-form-field appearance="outline" class="table-cell-input">
                                    <input matInput #tableRowDocumentMasterVersionInputs [value]="element.Title" formControlName="Title" id="{{element.id}}-Title" hidden>
                                    <div [froalaEditor]="inlineEditorOptions" formControlName="Title"></div>
                                    <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(MasterVersionsTableRowForms.get(element.id).get('Title'), { multiLine: false })">
                                        <mat-icon>text_format</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="FilePath">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> File </th>
                        <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="MasterVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'FilePath');" class="cell-editable">
                            <span *ngIf="!MasterVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.FilePath.key | S3keyRmHash"></span>
                            <div class="cell-input-container" *ngIf="MasterVersionsTableRowEditState[element.id]">
                                <mat-form-field appearance="outline" class="table-cell-input">
                                    <input matInput #tableRowDocumentMasterVersionInputs [value]="element.FilePath.key" formControlName="FilePath" id="{{element.id}}-FilePath" (click)="openFileSelectDialog(MasterVersionsTableRowForms.get(element.id).get('FilePath'))" hidden>
                                    <input matInput [readonly]="true" [value]="MasterVersionsTableRowForms.get(element.id).get('FilePath').value.key" (click)="openFileSelectDialog(MasterVersionsTableRowForms.get(element.id).get('FilePath'))">
                                    <button type="button" matSuffix mat-icon-button color="primary" matTooltip="Select or Upload a File" matTooltipPosition="right" (click)="openFileSelectDialog(MasterVersionsTableRowForms.get(element.id).get('FilePath'))">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                    <button *ngIf="MasterVersionsTableRowForms.get(element.id).get('FilePath').value.key" type="button" matSuffix mat-icon-button color="accent" matTooltip="Clear" matTooltipPosition="right" (click)="MasterVersionsTableRowForms.get(element.id).get('FilePath').setValue({ key: null, eTag: null, lastModified: null, size: null }); MasterVersionsTableRowForms.get(element.id).get('FilePath').markAsDirty()" class="input-suffix-btn">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="SourceFilePath">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Source File </th>
                        <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="MasterVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'SourceFilePath');" class="cell-editable">
                            <span *ngIf="!MasterVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.SourceFilePath.key | S3keyRmHash"></span>
                            <div class="cell-input-container" *ngIf="MasterVersionsTableRowEditState[element.id]">
                                <mat-form-field appearance="outline" class="table-cell-input">
                                    <input matInput #tableRowDocumentMasterVersionInputs [value]="element.SourceFilePath.key" formControlName="SourceFilePath" id="{{element.id}}-SourceFilePath" (click)="openFileSelectDialog(MasterVersionsTableRowForms.get(element.id).get('SourceFilePath'))" hidden>
                                    <input matInput [readonly]="true" [value]="MasterVersionsTableRowForms.get(element.id).get('SourceFilePath').value.key" (click)="openFileSelectDialog(MasterVersionsTableRowForms.get(element.id).get('SourceFilePath'))">
                                    <button type="button" matSuffix mat-icon-button color="primary" matTooltip="Select or Upload a File" matTooltipPosition="right" (click)="openFileSelectDialog(MasterVersionsTableRowForms.get(element.id).get('SourceFilePath'))">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                    <button *ngIf="MasterVersionsTableRowForms.get(element.id).get('SourceFilePath').value.key" type="button" matSuffix mat-icon-button color="accent" matTooltip="Clear" matTooltipPosition="right" (click)="MasterVersionsTableRowForms.get(element.id).get('SourceFilePath').setValue({ key: null, eTag: null, lastModified: null, size: null }); MasterVersionsTableRowForms.get(element.id).get('SourceFilePath').markAsDirty()" class="input-suffix-btn">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Need the form! to save the values -->
                    <ng-container matColumnDef="References">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> References </th>
                        <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="MasterVersionsTableRowEditState[element.id] = true;" class="cell-editable">
                            <!-- <span *ngIf="!MasterVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.References"></span> -->
                            <span *ngIf="!MasterVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right">
                                <span *ngFor="let ref of element.References; let isLast=last">{{ ref.UniqueID }}{{isLast ? '' : ', '}} </span>
                            </span>
                            <div class="cell-input-container" *ngIf="MasterVersionsTableRowEditState[element.id]">
                                <mat-form-field appearance="outline" class="table-cell-input">
                                    <mat-select placeholder="Select Supporting References" #tableRowDocumentMasterVersionInputs formControlName="References" id="{{element.id}}-References" multiple>
                                        <mat-option *ngFor="let reference of references" [value]="reference.id">[ {{reference.MasterVersion.UniqueID}} ] {{reference.MasterVersion.ShortCitation}}</mat-option>
                                    </mat-select>
                                    <button *ngIf="MasterVersionsTableRowEditState[element.id]" type="button" matSuffix mat-icon-button color="accent" matTooltip="Select Supporting References" matTooltipPosition="right" (click)="$event.stopPropagation(); openEditReferenceMultiSelectDialog(MasterVersionsTableRowForms.get(element.id).get('References'), element);">
                                        <mat-icon>list_alt</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ThumbnailPath">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Thumbnail </th>
                        <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="MasterVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'ThumbnailPath');" class="cell-editable">
                            <span *ngIf="!MasterVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right">{{ element.ThumbnailPath }}</span>
                            <div class="cell-input-container" *ngIf="MasterVersionsTableRowEditState[element.id]">
                                <!-- <mat-form-field appearance="outline" class="table-cell-input">
                                    <input 
                                        matInput 
                                        #tableRowDocumentMasterVersionInputs
                                        [(value)]="element.ThumbnailPath" 
                                        formControlName="ThumbnailPath"
                                        id="{{element.id}}-ThumbnailPath"
                                    >
                                </mat-form-field> -->
                                <mat-form-field appearance="outline" class="file-input-form-field cell-file-input-form-field" matTooltip="Select or Drag & Drop" matTooltipPosition="above">
                                    <input matInput formControlName="ThumbnailPath" hidden>
                                    <input-file formControlName="ThumbnailPathInputFile" fileAccept=".pdf,.ppt,.pptx,.doc,.docx,.xls,.xlsx,.png,.PNG,.jpg,.jpeg,.gif" iconAdd="attach_file" iconFile="attachment" iconDelete="cancel"></input-file>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Disabled">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hidden </th>
                        <td mat-cell *matCellDef="let element" [formGroupName]="element.id" class="cell-editable">
                            <span *ngIf="!MasterVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" (click)="MasterVersionsTableRowEditState[element.id] = true;">{{ element.Disabled ? 'Yes' : 'No' }}</span>
                            <div class="cell-input-container" *ngIf="MasterVersionsTableRowEditState[element.id]">
                                <mat-slide-toggle formControlName="Disabled"></mat-slide-toggle>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Cache">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cache </th>
                        <td mat-cell *matCellDef="let element" [formGroupName]="element.id" class="cell-editable">
                            <span *ngIf="!MasterVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" (click)="MasterVersionsTableRowEditState[element.id] = true;">{{ element.Cache ? 'Yes' : 'No' }}</span>
                            <div class="cell-input-container" *ngIf="MasterVersionsTableRowEditState[element.id]">
                                <mat-slide-toggle formControlName="Cache"></mat-slide-toggle>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                        <td mat-cell *matCellDef="let element"> {{ element.createdAt | date: 'MMM d, y, h:mm:ss a' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="updatedAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
                        <td mat-cell *matCellDef="let element"> {{ element.updatedAt | date: 'MMM d, y, h:mm:ss a' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disabled></th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="MasterVersionsTableRowEditState[element.id]" class="cell-input-container">
                                <button type="button" *ngIf="MasterVersionsTableRowForms.get(element.id).dirty" mat-icon-button color="primary" matTooltip="Save" matTooltipPosition="right" [disabled]="MasterVersionsTableRowForms.controls[element.id].invalid" (click)="MasterVersionsTableRowEditState[element.id] = false; updateDocumentVersion(MasterVersionsTableRowForms.get(element.id).value)" class="table-cell-save-btn">
                                    <mat-icon>check</mat-icon>
                                </button>
                                <button type="button" mat-icon-button color="accent" matTooltip="Cancel" matTooltipPosition="right" (click)="MasterVersionsTableRowEditState[element.id] = false; resetMasterVersionsTableRowForm(element);" class="table-cell-cancel-btn">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                            <button *ngIf="!MasterVersionsTableRowEditState[element.id]" type="button" mat-icon-button color="primary" [matMenuTriggerFor]="deleteDocumentPrompt" matTooltip="Delete Document & All Versions" matTooltipPosition="left">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <mat-menu #deleteDocumentPrompt="matMenu" xPosition="before">
                                <ng-template matMenuContent>
                                    <button type="button" mat-menu-item>
                                        <mat-icon>warning</mat-icon>
                                        <span>Are you sure?</span>
                                    </button>
                                    <mat-divider></mat-divider>
                                    <button type="button" mat-menu-item (click)="deleteDocument(element)">
                                        <mat-icon>check</mat-icon>
                                        <span>Yes</span>
                                    </button>
                                    <button type="button" mat-menu-item>
                                        <mat-icon>close</mat-icon>
                                        <span>Nope</span>
                                    </button>
                                </ng-template>
                            </mat-menu>
                        </td>
                    </ng-container>

                </table>
            </form>
            <ng-container *ngIf="documents.length < 1">
                <table class="table-empty-message">
                    <tbody>
                        <tr class="mat-row">
                            <td class="mat-cell">
                                <span>There are currently no documents. Get started by adding documents using the form above.</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <mat-paginator #tablePaginator [pageIndex]="0" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>