@import "src/theme/theme";
$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

// -------------------------------------
//   Add Document
// -------------------------------------

.add-reference-container {
  padding: 0px;

  -webkit-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .mat-expansion-panel {
    background: none;
    box-shadow: none;

    .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        line-height: 40px;
        font-weight: 500;
        font-size: .9em;
        // text-transform: uppercase;
      }
    }

    .form-actions {
      text-align: right;

      button {
        margin-left: 10px;
      }
    }
  }

  .mat-form-field {
    display: block;
  }

  .file-input-form-field {
    margin-bottom: 1.75em;

    .mat-form-field-infix {
      padding: 0 !important;
    }
  }

  .cell-file-input-form-field {
    margin-bottom: 0 !important;
  }

  .mat-slide-toggle {
    margin-right: 40px;
  }

  .mat-cell {
    .mat-form-field {
      display: flex;
      flex: 1 1 auto;

      .mat-form-field-wrapper {
        flex: 1 1 auto;
      }
    }
  }
}

.column-select-container {
  padding: 20px;

  -webkit-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);

  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .mat-checkbox {
    margin-right: 20px;
  }
}

.table-chip {
  margin-right: 6px;
  margin-top: 1px;
  margin-bottom: 1px;
}

// -------------------------------------
//   Tables
// -------------------------------------
.references-table-container {
  .mat-column-UniqueID {
    flex: 0 0 50px;
    width: 50px;
  }
  .mat-column-VersionId {
    flex: 1 1 0;
  }
  .mat-column-DisplayName {
    flex: 1 1 0;
  }
  .mat-column-Title {
    flex: 1 1 0;
  }
  .mat-column-ShortCitation {
    flex: 1 1 0;
  }
  .mat-column-Citation {
    flex: 1 1 0;
  }
  .mat-column-FilePath {
    flex: 1 1 0;
  }
  .mat-column-AnnotatedFilePath {
    flex: 1 1 0;
  }
  .mat-column-Tags {
    flex: 0 0 200px;
    width: 200px;
  }
  .mat-column-Subtags {
    flex: 0 0 200px;
    width: 200px;
  }
  .mat-column-Annotated {
    flex: 0 0 70px;
    width: 70px;
  }
  .mat-column-Disabled {
    flex: 0 0 70px;
    width: 70px;
  }
  .mat-column-Cache {
    flex: 0 0 70px;
    width: 70px;
  }
  .mat-column-createdAt {
    flex: 0 0 150px;
    width: 150px;
  }
  .mat-column-updatedAt {
    flex: 0 0 150px;
    width: 150px;
  }
  .mat-column-Actions {
    flex: 0 0 90px;
    width: 90px;
  }
}

.table-empty-message {
  width: 100%;
  text-align: center;
}


// -------------------------------------
//   Filter
// -------------------------------------

.filter-container {
  padding: 24px 24px 0 24px;

  .mat-form-field {
    width: 100%;
  }
}