<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <ng-content></ng-content>
            <mat-chip disabled>{{ content.Type }}</mat-chip>
            <mat-icon *ngIf="content.Status === 'disabled'" color="accent" matTooltip="This content and all of its children will not be displayed in the platform." matTooltipPosition="above">visibility_off</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
            <span [innerHTML]="content.Descriptor | markAsSafe: 'html'"></span>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
        <div class="content-card mat-elevation-z0">
            <ng-container *ngIf="content.Title !== ''">
                <div class="content-label"><mat-chip disabled>Title</mat-chip></div>
                <div class="content-content"><p *ngIf="content.Title" [innerHTML]="content.Title | markAsSafe: 'html'"></p></div>
            </ng-container>

            <ng-container *ngIf="content.Body !== ''">
                <div class="content-label"><mat-chip disabled>Body</mat-chip></div>
                <div class="content-content"><p *ngIf="content.Body" [innerHTML]="content.Body | markAsSafe: 'html'"></p></div>
            </ng-container>

            <ng-container *ngIf="content.Documents && content.Documents.length >= 1">
                <div class="content-label"><mat-chip disabled>Supporting Documents</mat-chip></div>
                <div class="content-content">
                    <ul>
                        <li *ngFor="let document of content.Documents | orderByIdArray:content.DocumentsOrder || []">{{ getDocumentTitle(document.id) }}</li>
                    </ul>
                </div>
            </ng-container>

            <ng-container *ngIf="content.Footnotes !== ''">
                <div class="content-label"><mat-chip disabled>Footnotes</mat-chip></div>
                <div class="content-content"><p *ngIf="content.Footnotes" [innerHTML]="content.Footnotes | markAsSafe: 'html'"></p></div>
            </ng-container>

            <ng-container *ngIf="content.Abbreviations !== ''">
                <div class="content-label"><mat-chip disabled>Abbreviations</mat-chip></div>
                <div class="content-content"><p *ngIf="content.Abbreviations" [innerHTML]="content.Abbreviations | markAsSafe: 'html'"></p></div>
            </ng-container>
        </div>

        <div class="associations" *ngIf="content.References && content.References.length >= 1">
            <ng-container>
                <div class="content-label">References Associated</div>
                <div class="content-content">
                    <mat-chip *ngFor="let reference of content.References" disabled>{{ reference.UniqueID }}</mat-chip>
                </div>
            </ng-container>
        </div>

            <div class="actions">
                <button mat-mini-fab color="accent" (click)="openContentBlockEditDialog(content)" class="content-add-btn" matTooltip="Edit content in this block." matTooltipPosition="above">
                    <mat-icon>edit</mat-icon>
                </button>
                <div class="flex-bridge"></div>
                <button mat-mini-fab color="accent" (click)="setContentBlockStatus('archived', content)" class="content-add-btn" matTooltip="Delete this content block and all of its children." matTooltipPosition="above">
                    <mat-icon>delete</mat-icon>
                </button>            
            </div>

        <mat-accordion class="children" cdkDropList (cdkDropListDropped)="onDropListDropped($event)" cdkDropListLockAxis="y" displayMode="flat" multi>
            <content-block *ngFor="let child of children" [content]="child" cdkDrag [ngClass]="child.Type">
                <mat-icon cdkDragHandle>drag_indicator</mat-icon>
            </content-block>
        </mat-accordion>

        <div class="actions-add">
            <button mat-mini-fab color="primary" (click)="openContentBlockDialog(content)" class="content-add-btn" matTooltip="Add Sub-level Content" matTooltipPosition="left">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </ng-template>
</mat-expansion-panel>
