:host {
  display: block;
  margin-bottom: 5px;
  padding: 0px;

  -webkit-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  &.cdk-drag {
    display: block;

    &-placeholder {
      opacity: 0.33;
    }

    :host-context(.cdk-drop-list-dragging) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .mat-expansion-panel {
    // margin-bottom: 2px;
    background: none;
    box-shadow: none;
    border: 1px solid #eaeaea;
    // border-bottom: 2px solid #eaeaea;

    &-header {
      padding-left: 0;
      user-select: none;

      &-description {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }

      &-title {
        line-height: 40px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }

      .mat-chip {
        height: 22px;
        color: #ddd;
        text-transform: uppercase;
        font-weight: 400;
        // background: #666;
        background: #ccc;
      }

      // border-top: 3px solid rgba(156, 39, 176, 1);
      // border-top: 2px solid #666;
      background: #fafafa;
    }

    .mat-expansion-panel-body {
      padding: 10px !important;
    }

    .associations {
      display: flex;
      margin: 0px 0px 0px 0px;
      padding: 5px 10px;
      border: 1px solid #eaeaea;
      border-top: 0;
      background: #fdfdfd;

      .content-label {
        margin-right: 10px;
        line-height: 22px;
        text-transform: uppercase;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.7);
      }

      mat-chip,
      .mat-chip {
        height: 22px;
        margin-right: 5px;
      }
    }

    .actions {
      display: flex;
      margin: 0px 0px 10px 0px;
      padding: 5px 10px;
      border: 1px solid #eaeaea;
      border-top: 0;
      background: #fff;
    }

    .content-card {
      margin: 0px;
      margin-top: 10px;
      padding: 0px;

      border: 1px solid #eaeaea;

      .content-label {
        padding: 10px;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;

        background: #fafafa;
        font-weight: 400;
        text-transform: uppercase;
        .mat-chip {
          height: 22px;
          text-transform: uppercase;
          font-weight: 400;
        }
      }

      .content-label:first-child {
        border-top: 0 !important;
      }

      .content-content {
        padding: 20px;
      }
    }

    .childern {
      margin: 10px 0px;
    }

    .actions-add {
      text-align: right;
      padding: 20px 10px 5px 10px;
    }
  }
}

.flex-bridge {
  flex: 1 1 auto;
}

:host(.chapter),
:host(.subchapter) {
  // margin-left: 0;
  border-left: 10px solid rgba(96, 125, 139, 1);
  .mat-expansion-panel-body {
    border-top: 10px solid rgba(96, 125, 139, 1);
  }
  .mat-expansion-panel {
    .mat-expansion-panel-header {
      .mat-chip {
        background-image: linear-gradient(
          to bottom right,
          #666,
          rgba(96, 125, 139, 1)
        );
      }

      .mat-icon {
        margin: 0px 10px;
        opacity: 0.5;
      }
    }
  }
}

:host(.statement) {
  // margin-left: 20px;
  border-left: 10px solid rgba(96, 125, 139, 0.75);
  .mat-expansion-panel {
    .mat-expansion-panel-header {
      .mat-chip {
        background-image: linear-gradient(
          to bottom right,
          #666,
          rgba(96, 125, 139, 0.75)
        );
      }
    }
  }
}

:host(.substatement) {
  // margin-left: 40px;
  border-left: 10px solid rgba(96, 125, 139, 0.5);
  .mat-expansion-panel {
    .mat-expansion-panel-header {
      .mat-chip {
        background-image: linear-gradient(
          to bottom right,
          #666,
          rgba(96, 125, 139, 0.5)
        );
      }
    }
  }
}

:host(.evidence) {
  // margin-left: 60px;
  border-left: 10px solid rgba(96, 125, 139, 0.25);
  .mat-expansion-panel {
    .mat-expansion-panel-header {
      .mat-chip {
        background-image: linear-gradient(
          to bottom right,
          #666,
          rgba(96, 125, 139, 0.25)
        );
      }
    }
  }
}
