<mat-card class="dashboard-card">
  <mat-card-header class="dashboard-card-header">
    <mat-card-title class="dashboard-card-title">
      <!-- <mat-chip color="primary" selected>{{ [].length }}</mat-chip> -->
      Abbreviations
    </mat-card-title>
    <button type="button" mat-icon-button class="more-button" [matMenuTriggerFor]="menuUserTable" matTooltip="Bulk Operations" matTooltipPosition="left">
      <mat-icon>all_inclusive</mat-icon>
    </button>
    <mat-menu #menuUserTable="matMenu" xPosition="before">
      <ng-template matMenuContent>
        <!-- <mat-divider></mat-divider> -->
        <button type="button" mat-menu-item [matMenuTriggerFor]="deleteAllAbbreviationsPrompt" disabled>
          <mat-icon>delete</mat-icon>
          <span>Delete All Abbreviations</span>
        </button>
      </ng-template>
    </mat-menu>
    <mat-menu #deleteAllAbbreviationsPrompt="matMenu" xPosition="before">
      <ng-template matMenuContent>
        <button type="button" mat-menu-item disabled>
          <mat-icon>warning</mat-icon>
          <span>Are you sure?</span>
        </button>
        <mat-divider></mat-divider>
        <button type="button" mat-menu-item (click)="destroyAbbreviations()">
          <mat-icon>check</mat-icon>
          <span>Yes</span>
        </button>
        <button type="button" mat-menu-item>
          <mat-icon>close</mat-icon>
          <span>Nope</span>
        </button>
      </ng-template>
    </mat-menu>
  </mat-card-header>

  <mat-card-content class="dashboard-card-content">
    <div class="add-abbreviation-container">
      <mat-accordion>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button type="button" mat-icon-button color="primary">
                <mat-icon>add</mat-icon>
              </button>
              <span>Add an Abbreviation</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="createForm">
            <div fxLayout="row" fxLayoutGap="0.5%">
              <div fxFlex="30%">
                <mat-form-field appearance="outline" floatLabel="always">
                  <mat-label>Abbreviation</mat-label>
                  <input matInput placeholder="" formControlName="Abbreviation" hidden>
                  <div [froalaEditor]="inlineEditorOptions" formControlName="Abbreviation"></div>
                  <mat-error *ngIf="createForm.controls.Abbreviation.invalid && createForm.controls.Abbreviation.errors.required">Abbreviation is required.</mat-error>
                  <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Abbreviation'), { multiLine: false })">
                    <mat-icon>text_format</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div fxFlex="70%">
                <mat-form-field appearance="outline" floatLabel="always">
                  <mat-label>Definition</mat-label>
                  <input matInput placeholder="" formControlName="Definition" hidden>
                  <div [froalaEditor]="inlineEditorOptions" formControlName="Definition"></div>
                  <mat-error *ngIf="createForm.controls.Definition.invalid && createForm.controls.Definition.errors.required">Definition is required.</mat-error>
                  <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Definition'), { multiLine: false })">
                    <mat-icon>text_format</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <mat-slide-toggle formControlName="Disabled" matTooltip="Hide in the platform." matTooltipPosition="right">
              Hidden
            </mat-slide-toggle>
          </form>
          <div class="form-actions">
            <!-- <button type="button" (click)="log('DOC FORM', createForm)">CONSOLE FORM VALUES</button> -->
            <button type="button" mat-button color="primary" [disabled]="!createForm.dirty && !createForm.touched" (click)="resetCreateForm();">Clear</button>
            <button type="button" mat-raised-button color="primary" (click)="createAbbreviation()" [disabled]="!createForm.dirty">Save</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="filter-container">
      <mat-form-field appearance="outline">
        <mat-label>Filter</mat-label>
        <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        <button *ngIf="filterValue.length > 0" type="button" matSuffix mat-icon-button color="accent" matTooltip="Clear Filter" matTooltipPosition="above" (click)="clearFilter()">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="abbreviations-table-container">
      <form [formGroup]="AbbreviationsTableForm">
        <table mat-table #abbreviationsTable matSort [dataSource]="AbbreviationsTableDataSource" formArrayName="AbbreviationsTableRowForms" class="table-abbreviations">

          <tr mat-header-row *matHeaderRowDef="AbbreviationsTableDisplayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; let i = index; columns: AbbreviationsTableDisplayedColumns;"></tr>

          <ng-container matColumnDef="Abbreviation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Abbreviation </th>
            <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="AbbreviationsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Abbreviation');" class="cell-editable">
              <span *ngIf="!AbbreviationsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Abbreviation"></span>
              <div class="cell-input-container" *ngIf="AbbreviationsTableRowEditState[element.id]">
                <mat-form-field appearance="outline" class="table-cell-input">
                  <input matInput #tableRowAbbreviationInputs [value]="element.Abbreviation" formControlName="Abbreviation" id="{{element.id}}-Abbreviation" hidden>
                  <div [froalaEditor]="inlineEditorOptions" formControlName="Abbreviation"></div>
                  <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(AbbreviationsTableRowForms.get(element.id).get('Abbreviation'), { multiLine: false })">
                    <mat-icon>text_format</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="Definition">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Definition </th>
            <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="AbbreviationsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Definition');" class="cell-editable">
              <span *ngIf="!AbbreviationsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Definition"></span>
              <div class="cell-input-container" *ngIf="AbbreviationsTableRowEditState[element.id]">
                <mat-form-field appearance="outline" class="table-cell-input">
                  <input matInput #tableRowAbbreviationInputs [value]="element.Definition" formControlName="Definition" id="{{element.id}}-Definition" hidden>
                  <div [froalaEditor]="inlineEditorOptions" formControlName="Definition"></div>
                  <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(AbbreviationsTableRowForms.get(element.id).get('Definition'), { multiLine: false })">
                    <mat-icon>text_format</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="Disabled">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hidden </th>
            <td mat-cell *matCellDef="let element" [formGroupName]="element.id" class="cell-editable">
              <span *ngIf="!AbbreviationsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" (click)="AbbreviationsTableRowEditState[element.id] = true;">{{ element.Disabled ? 'Yes' : 'No' }}</span>
              <div class="cell-input-container" *ngIf="AbbreviationsTableRowEditState[element.id]">
                <mat-slide-toggle formControlName="Disabled"></mat-slide-toggle>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
            <td mat-cell *matCellDef="let element"> {{ element.createdAt | date: 'MMM d, y, h:mm:ss a' }} </td>
          </ng-container>

          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
            <td mat-cell *matCellDef="let element"> {{ element.updatedAt | date: 'MMM d, y, h:mm:ss a' }} </td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled></th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="AbbreviationsTableRowEditState[element.id]" class="cell-input-container">
                <button type="button" *ngIf="AbbreviationsTableRowForms.get(element.id).dirty" mat-icon-button color="primary" matTooltip="Save" matTooltipPosition="right" [disabled]="AbbreviationsTableRowForms.controls[element.id].invalid" (click)="AbbreviationsTableRowEditState[element.id] = false; updateAbbreviation(AbbreviationsTableRowForms.get(element.id).value)" class="table-cell-save-btn">
                  <mat-icon>check</mat-icon>
                </button>
                <button type="button" mat-icon-button color="accent" matTooltip="Cancel" matTooltipPosition="right" (click)="AbbreviationsTableRowEditState[element.id] = false; resetAbbreviationsTableRowForm(element);" class="table-cell-cancel-btn">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <button *ngIf="!AbbreviationsTableRowEditState[element.id]" type="button" mat-icon-button color="primary" [matMenuTriggerFor]="deleteAbbreviationPrompt" matTooltip="Delete Abbreviation & All Versions" matTooltipPosition="left">
                <mat-icon>delete</mat-icon>
              </button>
              <mat-menu #deleteAbbreviationPrompt="matMenu" xPosition="before">
                <ng-template matMenuContent>
                  <button type="button" mat-menu-item>
                    <mat-icon>warning</mat-icon>
                    <span>Are you sure?</span>
                  </button>
                  <mat-divider></mat-divider>
                  <button type="button" mat-menu-item (click)="deleteAbbreviation(element)">
                    <mat-icon>check</mat-icon>
                    <span>Yes</span>
                  </button>
                  <button type="button" mat-menu-item>
                    <mat-icon>close</mat-icon>
                    <span>Nope</span>
                  </button>
                </ng-template>
              </mat-menu>
            </td>
          </ng-container>
        </table>
      </form>
      <ng-container *ngIf="abbreviations.length < 1">
        <table class="table-empty-message">
          <tbody>
            <tr class="mat-row">
              <td class="mat-cell">
                <span>There are currently no abbreviations. Get started by adding abbreviations using the form above.</span>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <mat-paginator #tablePaginator [pageIndex]="0" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>