@import "src/theme/theme";
$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

// -------------------------------------
//   Dialog Card
// -------------------------------------

.dialog-card {
  padding: 0px;

  -webkit-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .mat-expansion-panel {
    background: none;
    box-shadow: none;

    .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        line-height: 40px;
        font-weight: 500;
        font-size: .9em;
        // text-transform: uppercase;
      }
    }

    .form-actions {
      text-align: right;

      button {
        margin-left: 10px;
      }
    }
  }

  .mat-form-field {
    display: block;
  }

  .file-input-form-field {
    margin-bottom: 1.75em;

    .mat-form-field-infix {
      padding: 0 !important;
    }
  }

  .cell-file-input-form-field {
    margin-bottom: 0 !important;
  }

  .mat-slide-toggle {
    margin-right: 40px;
  }

  .mat-cell {
    .mat-form-field {
      display: flex;
      flex: 1 1 auto;

      .mat-form-field-wrapper {
        flex: 1 1 auto;
      }
    }
  }
}

// -------------------------------------
//   Tables
// -------------------------------------
.links-table-container {
  .mat-column-VersionId {
    flex: 1 1 0;
  }
  .mat-column-Title {
    flex: 2 1 0;
  }
  .mat-column-FilePath {
    flex: 1 1 0;
  }
  .mat-column-SourceFilePath {
    flex: 1 1 0;
  }
  .mat-column-References {
    flex: 1 1 0;
  }
  .mat-column-Disabled {
    flex: 0 0 70px;
    width: 70px;
  }
  .mat-column-Cache {
    flex: 0 0 70px;
    width: 70px;
  }
  .mat-column-createdAt {
    flex: 0 0 180px;
    width: 200px;
  }
  .mat-column-updatedAt {
    flex: 0 0 180px;
    width: 200px;
  }
  .mat-column-Actions {
    flex: 0 0 90px;
    width: 100px;
  }
}

.table-empty-message {
  width: 100%;
  text-align: center;
}

// -------------------------------------
//   Filter
// -------------------------------------

.filter-container {
  padding: 24px 24px 0 24px;

  .mat-form-field {
    width: 100%;
  }
}

.dialog-content {
  position: relative;
  display: flex;

  padding: 0;
  margin: 0;  
  
  .dialog-save-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    // color: white;
    z-index: 99;
    border: 1px solid #ccc;
  
    padding: 0 !important;
  }

  .dialog-close-button {
    position: absolute;
    top: 8px;
    right: 76px;
    // color: white;
    z-index: 99;
}  
}
