<div class="dialog-container">
  <mat-dialog-content class="dialog-content">
    <button type="button" mat-button class="dialog-save-close-button" (click)="selectLink()">
        <span class="inner-btn-txt">SAVE</span>
        <!-- <mat-icon>save_alt</mat-icon> -->
      </button>
      <button type="button" mat-icon-button class="dialog-close-button" (click)="close()">
          <mat-icon>close</mat-icon>
      </button>

      <mat-card class="dialog-card">
          <mat-card-header class="dialog-card-header">
              <mat-card-title class="dialog-card-title">
                New Link
              </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dialog-card-content edge-to-edge">
            <form [formGroup]="createForm">
              <div fxLayout="row" fxLayoutGap="0.5%">
                  <div fxFlex="40%">
                      <mat-form-field appearance="outline" floatLabel="always">
                          <mat-label>Title</mat-label>
                          <input matInput placeholder="" formControlName="Title" hidden>
                          <div [froalaEditor]="inlineEditorOptions" formControlName="Title"></div>
                          <mat-error *ngIf="createForm.controls.Title.invalid && createForm.controls.Title.errors.required">Title is required.</mat-error>
                          <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Title'), { multiLine: false })">
                              <mat-icon>text_format</mat-icon>
                          </button>

                      </mat-form-field>
                  </div>
                  <div fxFlex="60%">
                      <mat-form-field appearance="outline" floatLabel="always">
                          <mat-label>Tagline</mat-label>
                          <input matInput placeholder="" formControlName="Tagline" hidden>
                          <div [froalaEditor]="inlineEditorOptions" formControlName="Tagline"></div>
                          <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Tagline'), { multiLine: false })">
                              <mat-icon>text_format</mat-icon>
                          </button>
                      </mat-form-field>
                  </div>
              </div>
              <div fxLayout="row" fxLayoutGap="0.5%">
                  <div fxFlex="50%">
                      <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Link</mat-label>
                        <input matInput placeholder="" formControlName="Href" hidden>
                        <div [froalaEditor]="inlineEditorOptions" formControlName="Href"></div>
                        <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Href'), { multiLine: false })">
                            <mat-icon>text_format</mat-icon>
                        </button>
                    </mat-form-field>
                  </div>
                  <div fxFlex="50%">
                    <mat-form-field appearance="outline" floatLabel="always">
                      <mat-label>Button Text</mat-label>
                      <input matInput placeholder="" formControlName="Button" hidden>
                      <div [froalaEditor]="inlineEditorOptions" formControlName="Button"></div>
                      <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Button'), { multiLine: false })">
                          <mat-icon>text_format</mat-icon>
                      </button>
                    </mat-form-field>
                </div>
              </div>
          </form>
          <div class="form-actions">
              <button type="button" mat-button color="primary" [disabled]="!createForm.dirty && !createForm.touched" (click)="resetCreateForm();">Clear</button>
              <button type="button" mat-raised-button color="primary" (click)="createLink()" [disabled]="!createForm.dirty">Save</button>
          </div>
          <div class="filter-container">
            <mat-form-field appearance="outline">
                <mat-label>Filter</mat-label>
                <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                <button *ngIf="filterValue.length > 0" type="button" matSuffix mat-icon-button color="accent" matTooltip="Clear Filter" matTooltipPosition="above" (click)="clearFilter()">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="links-table-container">
            <form [formGroup]="LinksTableForm">
                <table mat-table #linksTable matSort [dataSource]="LinksTableDataSource" formArrayName="LinksTableRowForms" class="table-links">

                    <tr mat-header-row *matHeaderRowDef="LinksTableDisplayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; let i = index; columns: LinksTableDisplayedColumns;"></tr>
                    
                    <ng-container matColumnDef="Title">
                        <th mat-header-cell *matHeaderCellDef mat-mat-sort-header>Title</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Title}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Tagline">
                        <th mat-header-cell *matHeaderCellDef mat-mat-sort-header>Tagline</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Tagline}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Href">
                        <th mat-header-cell *matHeaderCellDef mat-mat-sort-header>Href</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Href}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Button">
                        <th mat-header-cell *matHeaderCellDef mat-mat-sort-header>Button</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Button}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                        <td mat-cell *matCellDef="let element" [innerHTML]="element.id"></td>
                    </ng-container>

                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'MMM d, y, h:mm:ss a' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="updatedAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
                        <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'MMM d, y, h:mm:ss a' }} </td>
                    </ng-container>

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="Select">
                        <th mat-header-cell *matHeaderCellDef>Select</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox 
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(element) : null"
                                [checked]="selection.isSelected(element)"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disabled></th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" mat-icon-button color="primary" [matMenuTriggerFor]="deleteTagPrompt" matTooltip="Delete Tag & Subtags" matTooltipPosition="left">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <mat-menu #deleteTagPrompt="matMenu" xPosition="before">
                                <ng-template matMenuContent>
                                    <button type="button" mat-menu-item>
                                        <mat-icon>warning</mat-icon>
                                        <span>Are you sure?</span>
                                    </button>
                                    <mat-divider></mat-divider>
                                    <button type="button" mat-menu-item (click)="deleteLink(element)">
                                        <mat-icon>check</mat-icon>
                                        <span>Yes</span>
                                    </button>
                                    <button type="button" mat-menu-item>
                                        <mat-icon>close</mat-icon>
                                        <span>Nope</span>
                                    </button>
                                </ng-template>
                            </mat-menu>
                        </td>
                    </ng-container>

                </table>
            </form>
            <ng-container *ngIf="links.length < 1">
                <table class="table-empty-message">
                    <tbody>
                        <tr class="mat-row">
                            <td class="mat-cell">
                                <span>There are currently no links. Get started by adding links with the form above.</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <mat-paginator #tablePaginator [pageIndex]="0" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
        </div>
        </mat-card-content>
      </mat-card>
  </mat-dialog-content>
</div>