.connected-chip {
  background-color: rgba(255, 255, 255, 0.20);
  color: rgba(255, 255, 255, 0.99);
  height: 30px;
}

.connected {
    border: 2px solid #fafafa;
    box-sizing: border-box;
}

.error {
    border: 2px solid #2a2a2a;
    box-sizing: border-box;
}