<div class='connection'>
    <mat-chip-list>
        <mat-chip disabled class="connected-chip" [ngClass]="{ 'connected': connection.connected , 'error': !connection.connected }">
            {{ connection.status }}
        </mat-chip>
    </mat-chip-list>
</div>