<div class="dialog-container">
    <mat-dialog-content class="dialog-content">
        <button type="button" mat-icon-button class="dialog-close-button" (click)="dialogRef.close()">
            <mat-icon>close</mat-icon>
        </button>

        <mat-card class="dialog-card">
            <mat-card-header class="dialog-card-header">
                <mat-card-title class="dialog-card-title">
                    <mat-chip class="title-chip">Master Version: {{ masterversion.VersionId }}</mat-chip> Manage Reference Versions 
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dialog-card-content edge-to-edge">
                <div class="add-reference-container">
                    <mat-accordion>
                        <mat-expansion-panel [(expanded)]="createFormExpanded">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <button type="button" mat-icon-button color="primary">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <span>Create New Version</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <form [formGroup]="createForm">
                                <div fxLayout="row" fxLayoutGap="0.5%">
                                    <div fxFlex="10%">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Unique ID</mat-label>
                                            <input type="number" matInput placeholder="Number" formControlName="UniqueID">
                                            <mat-error *ngIf="createForm.controls.UniqueID.invalid && createForm.controls.UniqueID.errors.required">Unique Id is required.</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="40%">
                                        <mat-form-field appearance="outline" floatLabel="always">
                                            <mat-label>Display Name</mat-label>
                                            <input matInput placeholder="" formControlName="DisplayName" hidden>
                                            <div [froalaEditor]="inlineEditorOptions" formControlName="DisplayName"></div>
                                            <mat-error *ngIf="createForm.controls.DisplayName.invalid && createForm.controls.DisplayName.errors.required">Display Name is required.</mat-error>
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Format Editor" 
                                                matTooltipPosition="right"
                                                (click)="openHTMLEditorDialog(createForm.get('DisplayName'), { multiLine: false })"
                                            >
                                                <mat-icon>text_format</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="10%">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Version Label</mat-label>
                                            <input matInput placeholder="For example: 1dJH" formControlName="VersionId">
                                            <mat-error *ngIf="createForm.controls.VersionId.invalid && createForm.controls.VersionId.errors.required">Version Label is required.</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="40%">
                                        <mat-form-field appearance="outline" floatLabel="always">
                                            <mat-label>Title</mat-label>
                                            <input matInput placeholder="" formControlName="Title" hidden>
                                            <div [froalaEditor]="inlineEditorOptions" formControlName="Title"></div>
                                            <mat-error *ngIf="createForm.controls.Title.invalid && createForm.controls.Title.errors.required">Reference Title is required.</mat-error>
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Format Editor" 
                                                matTooltipPosition="right"
                                                (click)="openHTMLEditorDialog(createForm.get('Title'), { multiLine: false })"
                                            >
                                                <mat-icon>text_format</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutGap="0.5%">
                                    <div fxFlex="50%">
                                        <mat-form-field appearance="outline" floatLabel="always">
                                            <mat-label>Short Citation</mat-label>
                                            <input matInput placeholder="" formControlName="ShortCitation" hidden>
                                            <div [froalaEditor]="inlineEditorOptions" formControlName="ShortCitation"></div>
                                            <mat-error *ngIf="createForm.controls.ShortCitation.invalid && createForm.controls.ShortCitation.errors.required">Short Citation is required.</mat-error>
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Format Editor" 
                                                matTooltipPosition="right"
                                                (click)="openHTMLEditorDialog(createForm.get('ShortCitation'), { multiLine: false })"
                                            >
                                                <mat-icon>text_format</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50%">
                                        <mat-form-field appearance="outline" floatLabel="always">
                                            <mat-label>Citation</mat-label>
                                            <input matInput placeholder="" formControlName="Citation" hidden>
                                            <div [froalaEditor]="inlineEditorOptions" formControlName="Citation"></div>
                                            <mat-error *ngIf="createForm.controls.Citation.invalid && createForm.controls.Citation.errors.required">Citation is required.</mat-error>
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Format Editor" 
                                                matTooltipPosition="right"
                                                (click)="openHTMLEditorDialog(createForm.get('Citation'), { multiLine: false })"
                                            >
                                                <mat-icon>text_format</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutGap="0.5%">
                                    <div fxFlex="33%">
                                        <mat-form-field appearance="outline" floatLabel="always">
                                            <mat-label>File</mat-label>
                                            <input matInput formControlName="FilePath" hidden>
                                            <input matInput [readonly]="true" placeholder="Select or Upload a File" [value]="createForm.get('FilePath').value.key" (click)="openFileSelectDialog(createForm.get('FilePath'))">
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="primary" 
                                                matTooltip="Select or Upload a File" 
                                                matTooltipPosition="right"
                                                (click)="openFileSelectDialog(createForm.get('FilePath'))"
                                                class="input-suffix-btn"
                                            >
                                                <mat-icon>attach_file</mat-icon>
                                            </button>
                                            <button 
                                                *ngIf="createForm.get('FilePath').value.key"
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Clear" 
                                                matTooltipPosition="right"
                                                (click)="createForm.get('FilePath').setValue({ key: null, eTag: null, lastModified: null, size: null }); createForm.get('FilePath').markAsDirty()"
                                                class="input-suffix-btn"
                                            >
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="createForm.controls.FilePath.invalid"></mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="33%">
                                        <mat-form-field appearance="outline" floatLabel="always">
                                            <mat-label>Annotated File</mat-label>
                                            <input matInput formControlName="AnnotatedFilePath" hidden>
                                            <input matInput [readonly]="true" placeholder="Select or Upload a File" [value]="createForm.get('AnnotatedFilePath').value.key" (click)="openFileSelectDialog(createForm.get('AnnotatedFilePath'))">
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="primary" 
                                                matTooltip="Select or Upload a File" 
                                                matTooltipPosition="right"
                                                (click)="openFileSelectDialog(createForm.get('AnnotatedFilePath'))"
                                                class="input-suffix-btn"
                                            >
                                                <mat-icon>attach_file</mat-icon>
                                            </button>
                                            <button 
                                                *ngIf="createForm.get('AnnotatedFilePath').value.key"
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Clear" 
                                                matTooltipPosition="right"
                                                (click)="createForm.get('AnnotatedFilePath').setValue({ key: null, eTag: null, lastModified: null, size: null }); createForm.get('AnnotatedFilePath').markAsDirty()"
                                                class="input-suffix-btn"
                                            >
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="createForm.controls.FilePath.invalid"></mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="33%">
                                        <mat-form-field appearance="outline" floatLabel="always">
                                            <mat-label>Source File</mat-label>
                                            <input matInput formControlName="SourceFilePath" hidden>
                                            <input matInput [readonly]="true" placeholder="Select or Upload a File" [value]="createForm.get('SourceFilePath').value.key" (click)="openFileSelectDialog(createForm.get('SourceFilePath'))">
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="primary" 
                                                matTooltip="Select or Upload a File" 
                                                matTooltipPosition="right"
                                                (click)="openFileSelectDialog(createForm.get('SourceFilePath'))"
                                                class="input-suffix-btn"
                                            >
                                                <mat-icon>attach_file</mat-icon>
                                            </button>
                                            <button 
                                                *ngIf="createForm.get('SourceFilePath').value.key"
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Clear" 
                                                matTooltipPosition="right"
                                                (click)="createForm.get('SourceFilePath').setValue({ key: null, eTag: null, lastModified: null, size: null }); createForm.get('SourceFilePath').markAsDirty()"
                                                class="input-suffix-btn"
                                            >
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-error *ngIf="createForm.controls.SourceFilePath.invalid"></mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutGap="0.5%">
                                    <div fxFlex="50%">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Tags</mat-label>
                                                <mat-select placeholder="Tags" formControlName="TagsSelect" multiple>
                                                    <mat-option *ngFor="let tag of tags" [value]="tag.id"><mat-chip disabled>{{tag.Tag}}</mat-chip></mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="createForm.controls.TagsSelect.invalid && createForm.controls.TagsSelect.errors.required"></mat-error>
                                            </mat-form-field>
                                    </div>
                                    <div fxFlex="50%">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Subtags</mat-label>
                                                <mat-select placeholder="Subtags" formControlName="SubtagsSelect" multiple>
                                                    <mat-option *ngFor="let subtag of subtags" [value]="subtag.id"><mat-chip disabled>{{subtag.Subtag}}</mat-chip></mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="createForm.controls.SubtagsSelect.invalid && createForm.controls.SubtagsSelect.errors.required"></mat-error>
                                            </mat-form-field>
                                    </div>
                                </div>
                                <mat-slide-toggle formControlName="Annotated" matTooltip="Hide in the platform." matTooltipPosition="right">
                                    Show Annotated
                                </mat-slide-toggle>
                                <mat-slide-toggle formControlName="Disabled" matTooltip="Hide in the platform." matTooltipPosition="right">
                                    Hidden
                                </mat-slide-toggle>
                                <mat-slide-toggle formControlName="Cache" matTooltip="Cache in the platform for viewing while offline." matTooltipPosition="right">
                                    Cached (available offline)
                                </mat-slide-toggle>
                            </form>
                            <div class="form-actions">
                                <!-- <button type="button" (click)="log('DOC FORM', createForm)">CONSOLE FORM VALUES</button> -->
                                <button type="button" mat-button color="primary" [disabled]="!createForm.dirty && !createForm.touched" (click)="resetCreateForm();">Clear</button>
                                <button type="button" mat-raised-button color="accent" (click)="createReferenceVersion(false)" [disabled]="!createForm.dirty">Save as Draft</button>
                                <button type="button" mat-raised-button color="primary" (click)="createReferenceVersion(true)" [disabled]="!createForm.dirty">Save as Master</button>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="column-select-container ">
                    <mat-checkbox *ngFor='let column of TableColumnDefinitions' [checked]="column.displayed" (change)="toggleColumnDisplayed($event, column)" [hidden]="!column.hideable" matTooltip="Show/Hide Column" matTooltipPosition="above">{{ column.name }}</mat-checkbox>
                </div>
                <div class="references-table-container">
                    <form [formGroup]="ReferenceVersionsTableForm">
                        <table 
                            mat-table 
                            #referenceVersionsTable 
                            matSort 
                            [dataSource]="ReferenceVersionsTableDataSource"
                            formArrayName="ReferenceVersionsTableRowForms"
                            class="table-reference-versions"
                        >
                            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; let i = index; columns: getDisplayedColumns();"></tr>

                            <ng-container matColumnDef="Master">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element; let i = index;">
                                    <button *ngIf="masterversion && element.id !== masterversion.id" type="button" mat-icon-button color="primary" [matMenuTriggerFor]="setMasterPrompt" matTooltip="Set as Master Version" matTooltipPosition="right">
                                        <mat-icon>bookmark_border</mat-icon>
                                    </button>
                                    <button *ngIf="masterversion && element.id == masterversion.id" type="button" mat-icon-button color="accent" matTooltip="Master Version" matTooltipPosition="right">
                                        <mat-icon>bookmark</mat-icon>
                                    </button>
                                    <mat-menu #setMasterPrompt="matMenu" xPosition="before">
                                        <ng-template matMenuContent>
                                            <button type="button" mat-menu-item >
                                                <mat-icon>warning</mat-icon>
                                                <span>Are you sure?</span>
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button type="button" mat-menu-item (click)="setAsMasterVersion(element)">
                                                <mat-icon>check</mat-icon>
                                                <span>Yes</span>
                                            </button>
                                            <button type="button" mat-menu-item>
                                                <mat-icon>close</mat-icon>
                                                <span>Nope</span>
                                            </button>
                                        </ng-template>
                                    </mat-menu>
                                    <button type="button" mat-icon-button color="primary" matTooltip="Create a New Version from Clone" matTooltipPosition="right" (click)="populateCreateForm(element, ReferenceVersionsTableRowForms.get(element.id)); createFormExpanded = true">
                                    <mat-icon>merge_type</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="UniqueID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> UID </th>
                                <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="ReferenceVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'UniqueID');" class="cell-editable">
                                    <span *ngIf="!ReferenceVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.UniqueID"></span>
                                    <div class="cell-input-container" *ngIf="ReferenceVersionsTableRowEditState[element.id]">
                                        <mat-form-field appearance="outline" class="table-cell-input">
                                            <input 
                                                type="number"
                                                matInput 
                                                #tableRowReferenceMasterVersionInputs
                                                [value]="element.UniqueID" 
                                                formControlName="UniqueID"
                                                id="{{element.id}}-UniqueID"
                                            >
                                        </mat-form-field>
                                    </div>
                                </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="VersionId">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Version </th>
                                <td mat-cell *matCellDef="let element; let i = index;">
                                    {{ element.VersionId }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="DisplayName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Display Name </th>
                                <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="ReferenceVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'DisplayName');" class="cell-editable">
                                    <span *ngIf="!ReferenceVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.DisplayName"></span>
                                    <div class="cell-input-container" *ngIf="ReferenceVersionsTableRowEditState[element.id]">
                                        <mat-form-field appearance="outline" class="table-cell-input">
                                            <input 
                                                matInput 
                                                #tableRowReferenceMasterVersionInputs
                                                [value]="element.DisplayName" 
                                                formControlName="DisplayName"
                                                id="{{element.id}}-DisplayName"
                                                hidden
                                            >
                                            <div [froalaEditor]="inlineEditorOptions" formControlName="DisplayName"></div>
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Format Editor" 
                                                matTooltipPosition="right"
                                                (click)="openHTMLEditorDialog(ReferenceVersionsTableRowForms.get(element.id).get('DisplayName'), { multiLine: false })"
                                            >
                                                <mat-icon>text_format</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Title">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                                <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="ReferenceVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Title');" class="cell-editable">
                                    <span *ngIf="!ReferenceVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Title"></span>
                                    <div class="cell-input-container" *ngIf="ReferenceVersionsTableRowEditState[element.id]">
                                        <mat-form-field appearance="outline" class="table-cell-input">
                                            <input 
                                                matInput 
                                                #tableRowReferenceMasterVersionInputs
                                                [value]="element.Title" 
                                                formControlName="Title"
                                                id="{{element.id}}-Title"
                                                hidden
                                            >
                                            <div [froalaEditor]="inlineEditorOptions" formControlName="Title"></div>
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Format Editor" 
                                                matTooltipPosition="right"
                                                (click)="openHTMLEditorDialog(ReferenceVersionsTableRowForms.get(element.id).get('Title'), { multiLine: false })"
                                            >
                                                <mat-icon>text_format</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="ShortCitation">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Short Citation </th>
                                <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="ReferenceVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'ShortCitation');" class="cell-editable">
                                    <span *ngIf="!ReferenceVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.ShortCitation"></span>
                                    <div class="cell-input-container" *ngIf="ReferenceVersionsTableRowEditState[element.id]">
                                        <mat-form-field appearance="outline" class="table-cell-input">
                                            <input 
                                                matInput 
                                                #tableRowReferenceMasterVersionInputs
                                                [value]="element.ShortCitation" 
                                                formControlName="ShortCitation"
                                                id="{{element.id}}-ShortCitation"
                                                hidden
                                            >
                                            <div [froalaEditor]="inlineEditorOptions" formControlName="ShortCitation"></div>
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Format Editor" 
                                                matTooltipPosition="right"
                                                (click)="openHTMLEditorDialog(ReferenceVersionsTableRowForms.get(element.id).get('ShortCitation'), { multiLine: false })"
                                            >
                                                <mat-icon>text_format</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Citation">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Citation </th>
                                <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="ReferenceVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Citation');" class="cell-editable">
                                    <span *ngIf="!ReferenceVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Citation"></span>
                                    <div class="cell-input-container" *ngIf="ReferenceVersionsTableRowEditState[element.id]">
                                        <mat-form-field appearance="outline" class="table-cell-input">
                                            <input 
                                                matInput 
                                                #tableRowReferenceMasterVersionInputs
                                                [value]="element.Citation" 
                                                formControlName="Citation"
                                                id="{{element.id}}-Citation"
                                                hidden
                                            >
                                            <div [froalaEditor]="inlineEditorOptions" formControlName="Citation"></div>
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Format Editor" 
                                                matTooltipPosition="right"
                                                (click)="openHTMLEditorDialog(ReferenceVersionsTableRowForms.get(element.id).get('Citation'), { multiLine: false })"
                                            >
                                                <mat-icon>text_format</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="FilePath">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> File </th>
                                <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="ReferenceVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'FilePath');" class="cell-editable">
                                    <span *ngIf="!ReferenceVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.FilePath.key | S3keyRmHash"></span>
                                    <div class="cell-input-container" *ngIf="ReferenceVersionsTableRowEditState[element.id]">
                                        <mat-form-field appearance="outline" class="table-cell-input">
                                            <input 
                                                matInput 
                                                #tableRowReferenceMasterVersionInputs
                                                [value]="element.FilePath.key" 
                                                formControlName="FilePath"
                                                id="{{element.id}}-FilePath"
                                                (click)="openFileSelectDialog(ReferenceVersionsTableRowForms.get(element.id).get('FilePath'))"
                                                hidden
                                            >
                                            <input 
                                                matInput 
                                                [readonly]="true" 
                                                [value]="ReferenceVersionsTableRowForms.get(element.id).get('FilePath').value.key" 
                                                (click)="openFileSelectDialog(ReferenceVersionsTableRowForms.get(element.id).get('FilePath'))"
                                            >
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="primary" 
                                                matTooltip="Select or Upload a File" 
                                                matTooltipPosition="right"
                                                (click)="openFileSelectDialog(ReferenceVersionsTableRowForms.get(element.id).get('FilePath'))"
                                            >
                                                <mat-icon>attach_file</mat-icon>
                                            </button>
                                            <button 
                                                *ngIf="ReferenceVersionsTableRowForms.get(element.id).get('FilePath').value.key"
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Clear" 
                                                matTooltipPosition="right"
                                                (click)="ReferenceVersionsTableRowForms.get(element.id).get('FilePath').setValue({ key: null, eTag: null, lastModified: null, size: null }); ReferenceVersionsTableRowForms.get(element.id).get('FilePath').markAsDirty()"
                                                class="input-suffix-btn"
                                            >
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="AnnotatedFilePath">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Annotated File </th>
                                <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="ReferenceVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'AnnotatedFilePath');" class="cell-editable">
                                    <span *ngIf="!ReferenceVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.AnnotatedFilePath.key | S3keyRmHash"></span>
                                    <div class="cell-input-container" *ngIf="ReferenceVersionsTableRowEditState[element.id]">
                                        <mat-form-field appearance="outline" class="table-cell-input">
                                            <input 
                                                matInput 
                                                #tableRowReferenceMasterVersionInputs
                                                [value]="element.AnnotatedFilePath.key" 
                                                formControlName="AnnotatedFilePath"
                                                id="{{element.id}}-AnnotatedFilePath"
                                                (click)="openFileSelectDialog(ReferenceVersionsTableRowForms.get(element.id).get('AnnotatedFilePath'))"
                                                hidden
                                            >
                                            <input 
                                                matInput 
                                                [readonly]="true" 
                                                [value]="ReferenceVersionsTableRowForms.get(element.id).get('AnnotatedFilePath').value.key" 
                                                (click)="openFileSelectDialog(ReferenceVersionsTableRowForms.get(element.id).get('AnnotatedFilePath'))"
                                            >
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="primary" 
                                                matTooltip="Select or Upload a File" 
                                                matTooltipPosition="right"
                                                (click)="openFileSelectDialog(ReferenceVersionsTableRowForms.get(element.id).get('AnnotatedFilePath'))"
                                            >
                                                <mat-icon>attach_file</mat-icon>
                                            </button>
                                            <button 
                                                *ngIf="ReferenceVersionsTableRowForms.get(element.id).get('AnnotatedFilePath').value.key"
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Clear" 
                                                matTooltipPosition="right"
                                                (click)="ReferenceVersionsTableRowForms.get(element.id).get('AnnotatedFilePath').setValue({ key: null, eTag: null, lastModified: null, size: null }); ReferenceVersionsTableRowForms.get(element.id).get('AnnotatedFilePath').markAsDirty()"
                                                class="input-suffix-btn"
                                            >
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="SourceFilePath">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Source File </th>
                                <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="ReferenceVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'SourceFilePath');" class="cell-editable">
                                    <span *ngIf="!ReferenceVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.SourceFilePath.key | S3keyRmHash"></span>
                                    <div class="cell-input-container" *ngIf="ReferenceVersionsTableRowEditState[element.id]">
                                        <mat-form-field appearance="outline" class="table-cell-input">
                                            <input 
                                                matInput 
                                                #tableRowReferenceMasterVersionInputs
                                                [value]="element.SourceFilePath.key" 
                                                formControlName="SourceFilePath"
                                                id="{{element.id}}-SourceFilePath"
                                                (click)="openFileSelectDialog(ReferenceVersionsTableRowForms.get(element.id).get('SourceFilePath'))"
                                                hidden
                                            >
                                            <input 
                                                matInput 
                                                [readonly]="true" 
                                                [value]="ReferenceVersionsTableRowForms.get(element.id).get('SourceFilePath').value.key" 
                                                (click)="openFileSelectDialog(ReferenceVersionsTableRowForms.get(element.id).get('SourceFilePath'))"
                                            >
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="primary" 
                                                matTooltip="Select or Upload a File" 
                                                matTooltipPosition="right"
                                                (click)="openFileSelectDialog(ReferenceVersionsTableRowForms.get(element.id).get('SourceFilePath'))"
                                            >
                                                <mat-icon>attach_file</mat-icon>
                                            </button>
                                            <button 
                                                *ngIf="ReferenceVersionsTableRowForms.get(element.id).get('SourceFilePath').value.key"
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Clear" 
                                                matTooltipPosition="right"
                                                (click)="ReferenceVersionsTableRowForms.get(element.id).get('SourceFilePath').setValue({ key: null, eTag: null, lastModified: null, size: null }); ReferenceVersionsTableRowForms.get(element.id).get('SourceFilePath').markAsDirty()"
                                                class="input-suffix-btn"
                                            >
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="ThumbnailPath">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Thumbnail </th>
                                <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="ReferenceVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'ThumbnailPath');" class="cell-editable">
                                    <span *ngIf="!ReferenceVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right">{{ element.ThumbnailPath }}</span>
                                    <div class="cell-input-container" *ngIf="ReferenceVersionsTableRowEditState[element.id]">
                                        <!-- <mat-form-field appearance="outline" class="table-cell-input">
                                            <input 
                                                matInput 
                                                #tableRowReferenceMasterVersionInputs
                                                [(value)]="element.ThumbnailPath" 
                                                formControlName="ThumbnailPath"
                                                id="{{element.id}}-ThumbnailPath"
                                            >
                                        </mat-form-field> -->
                                        <mat-form-field appearance="outline" class="file-input-form-field cell-file-input-form-field" matTooltip="Select or Drag & Drop" matTooltipPosition="above">
                                            <input 
                                                matInput 
                                                formControlName="ThumbnailPath"
                                                hidden
                                            >
                                            <input-file 
                                                formControlName="ThumbnailPathInputFile" 
                                                fileAccept=".pdf,.ppt,.pptx,.doc,.docx,.xls,.xlsx,.png,.PNG,.jpg,.jpeg,.gif"
                                                iconAdd="attach_file" 
                                                iconFile="attachment" 
                                                iconDelete="cancel"
                                            ></input-file>
                                        </mat-form-field>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Tags">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tags </th>
                                <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="ReferenceVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Tags');" class="cell-editable">
                                    <div *ngIf="!ReferenceVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right">
                                        <mat-chip *ngFor="let tag of element.Tags" class="table-chip" disabled>
                                            {{ tag.Tag }}
                                        </mat-chip>
                                    </div>
                                    <div class="cell-input-container" *ngIf="ReferenceVersionsTableRowEditState[element.id]">
                                        <mat-form-field appearance="outline" class="table-cell-input">
                                            <mat-select placeholder="Tags" formControlName="TagsSelect" multiple>
                                                <mat-option *ngFor="let tag of tags" [value]="tag.id"><mat-chip disabled>{{tag.Tag}}</mat-chip></mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="createForm.controls.TagsSelect.invalid && createForm.controls.TagsSelect.errors.required"></mat-error>
                                        </mat-form-field>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Subtags">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Subtags </th>
                                <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="ReferenceVersionsTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Subtags');" class="cell-editable">
                                    <div *ngIf="!ReferenceVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right">
                                        <mat-chip *ngFor="let subtag of element.Subtags" matTooltip="Edit" matTooltipPosition="right" class="table-chip" disabled>
                                            {{ subtag.Subtag }}
                                        </mat-chip>
                                    </div>
                                    <div class="cell-input-container" *ngIf="ReferenceVersionsTableRowEditState[element.id]">
                                        <mat-form-field appearance="outline" class="table-cell-input">
                                            <mat-select placeholder="Subtags" formControlName="SubtagsSelect" multiple>
                                                <mat-option *ngFor="let subtag of subtags" [value]="subtag.id"><mat-chip disabled>{{subtag.Subtag}}</mat-chip></mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="createForm.controls.SubtagsSelect.invalid && createForm.controls.SubtagsSelect.errors.required"></mat-error>
                                        </mat-form-field>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Annotated">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Annotated </th>
                                <td mat-cell *matCellDef="let element" [formGroupName]="element.id" class="cell-editable">
                                    <span *ngIf="!ReferenceVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" (click)="ReferenceVersionsTableRowEditState[element.id] = true;">{{ element.Annotated ? 'Yes' : 'No' }}</span>
                                    <div class="cell-input-container" *ngIf="ReferenceVersionsTableRowEditState[element.id]">
                                        <mat-slide-toggle 
                                            formControlName="Annotated"
                                        ></mat-slide-toggle>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Disabled">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hidden </th>
                                <td mat-cell *matCellDef="let element" [formGroupName]="element.id" class="cell-editable">
                                    <span *ngIf="!ReferenceVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" (click)="ReferenceVersionsTableRowEditState[element.id] = true;">{{ element.Disabled ? 'Yes' : 'No' }}</span>
                                    <div class="cell-input-container" *ngIf="ReferenceVersionsTableRowEditState[element.id]">
                                        <mat-slide-toggle 
                                            formControlName="Disabled"
                                        ></mat-slide-toggle>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Cache">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cache </th>
                                <td mat-cell *matCellDef="let element" [formGroupName]="element.id" class="cell-editable">
                                    <span *ngIf="!ReferenceVersionsTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" (click)="ReferenceVersionsTableRowEditState[element.id] = true;">{{ element.Cache ? 'Yes' : 'No' }}</span>
                                    <div class="cell-input-container" *ngIf="ReferenceVersionsTableRowEditState[element.id]">
                                        <mat-slide-toggle 
                                            formControlName="Cache"
                                        ></mat-slide-toggle>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="createdAt">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                                <td mat-cell *matCellDef="let element"> {{ element.createdAt | date: 'M/d/yy, h:mm:ss a' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="updatedAt">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
                                <td mat-cell *matCellDef="let element"> {{ element.updatedAt | date: 'M/d/yy, h:mm:ss a' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="Actions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header disabled></th>
                                <td mat-cell *matCellDef="let element">
                                    <div *ngIf="ReferenceVersionsTableRowEditState[element.id]" class="cell-input-container">
                                        <button 
                                            type="button" 
                                            *ngIf="ReferenceVersionsTableRowForms.get(element.id).dirty" 
                                            mat-icon-button color="primary" 
                                            matTooltip="Save" matTooltipPosition="right" 
                                            [disabled]="ReferenceVersionsTableRowForms.controls[element.id].invalid"
                                            (click)="ReferenceVersionsTableRowEditState[element.id] = updateReferenceVersion(ReferenceVersionsTableRowForms.get(element.id).value)"
                                            class="table-cell-save-btn"
                                        >
                                            <mat-icon>check</mat-icon>
                                        </button>
                                        <button 
                                            type="button" 
                                            mat-icon-button 
                                            color="accent" 
                                            matTooltip="Cancel" 
                                            matTooltipPosition="right" 
                                            (click)="ReferenceVersionsTableRowEditState[element.id] = false; resetReferenceVersionsTableRowForm(element);"
                                            class="table-cell-cancel-btn"
                                        >
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>
                                    <button *ngIf="!ReferenceVersionsTableRowEditState[element.id]" type="button" mat-icon-button color="primary" [matMenuTriggerFor]="deleteReferenceVersionPrompt" matTooltip="Delete Reference Version" matTooltipPosition="left" [disabled]="masterversion && element.id == masterversion.id">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <mat-menu #deleteReferenceVersionPrompt="matMenu" xPosition="before">
                                        <ng-template matMenuContent>
                                            <button type="button" mat-menu-item >
                                                <mat-icon>warning</mat-icon>
                                                <span>Are you sure?</span>
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button type="button" mat-menu-item (click)="deleteReferenceVersion(element)">
                                                <mat-icon>check</mat-icon>
                                                <span>Yes</span>
                                            </button>
                                            <button type="button" mat-menu-item>
                                                <mat-icon>close</mat-icon>
                                                <span>Nope</span>
                                            </button>
                                        </ng-template>
                                    </mat-menu>
                                </td>
                            </ng-container>

                        </table>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-dialog-content>
</div>