<div class="dialog-container">
    <mat-dialog-content class="dialog-content">
        <button type="button" mat-icon-button class="dialog-close-button" (click)="dialogRef.close()">
            <mat-icon>close</mat-icon>
        </button>

        <mat-card class="dialog-card">
            <mat-card-header class="dialog-card-header">
                <mat-card-title class="dialog-card-title">
                    Subtags for <mat-chip class="title-chip">{{ tag.Tag }}</mat-chip>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dialog-card-content edge-to-edge">
                <div class="add-subtag-container">
                     <mat-accordion>
                        <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <button type="button" mat-icon-button color="primary">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <span>Add Subtags</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <form [formGroup]="subtagCreateForm">
                                <mat-form-field appearance="outline" class="add-subtag-input tag-input">
                                    <input matInput formControlName="placeholder" hidden>
                                    <tag-input #subtagsCreateFormField [(ngModel)]="subtagCreateInput" [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Subtag" placeholder=". . ." addOnPaste="true"
                                        blinkIfDupe="true" [dragZone]="'zone1'"></tag-input>
                                    <mat-hint>Type and press enter or paste to add a subtag to the list. Drag and drop the tag chips to reorder.</mat-hint>
                                </mat-form-field>
                            </form>
                            <div class="form-actions">
                                <button type="button" mat-button color="primary" [disabled]="subtagCreateInput.length == 0" (click)="subtagCreateInput = []">Clear</button>
                                <button type="button" mat-raised-button color="primary" (click)="createSubtags()" [disabled]="subtagCreateInput.length == 0">Save</button>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="subtags-table-container">
                    <form [formGroup]="subtagTableForm">
                        <table 
                            mat-table 
                            #subtagsTable 
                            matSort 
                            [dataSource]="SubtagsTableDataSource" 
                            formArrayName="subtagRowForms"
                            class="table-subtags"
                        >
                    
                            <tr mat-header-row *matHeaderRowDef="SubtagsTableDisplayedColumns; sticky: false"></tr>
                            <tr mat-row *matRowDef="let row; let i = index; columns: SubtagsTableDisplayedColumns;"></tr>
                    
                            <ng-container matColumnDef="Subtag">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Subtag </th>
                                <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="element.id">
                                    <mat-chip *ngIf="!subtagRowEditState[element.id]" matTooltip="Last Updated: {{ element.updatedAt | date: 'MMM d, y, h:mm:ss a' }}" matTooltipPosition="right"
                                        (click)="subtagRowEditState[element.id] = true; setTableRowSubtagInputFocus(element.id);" class="table-chip">
                                        {{ element.Subtag }}
                                    </mat-chip>
                                    <div *ngIf="subtagRowEditState[element.id]" class="cell-input-container">
                                        <mat-form-field appearance="outline" class="table-cell-input">
                                            <input 
                                                matInput 
                                                #tableRowSubtagInputs
                                                [(value)]="element.Subtag" 
                                                formControlName="Subtag" 
                                                [id]="element.id"
                                                (keyup.enter)="$event.preventDefault(); subtagRowEditState[element.id] = false; updateSubtag(element, subtagRowForms.get(element.id).get('Subtag').value);"
                                                (blur)="subtagRowEditState[element.id] = (element.Subtag !== subtagRowForms.get(element.id).get('Subtag').value)"
                                                hidden
                                            >
                                            <div [froalaEditor]="inlineEditorOptions" formControlName="Subtag"></div>
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Format Editor" 
                                                matTooltipPosition="right"
                                                (click)="openHTMLEditorDialog(subtagRowForms.get(element.id).get('Subtag'), { multiLine: false, toolbarButtons: ['superscript', 'subscript', '|', 'specialCharacters', '|', 'undo', 'redo', '|', 'html'] })"
                                            >
                                                <mat-icon>text_format</mat-icon>
                                            </button>
                                            <button 
                                                type="button" 
                                                *ngIf="subtagRowForms.get(element.id).get('Subtag').value !== element.Subtag" 
                                                matSuffix
                                                mat-icon-button color="primary" 
                                                matTooltip="Save" matTooltipPosition="right" 
                                                [disabled]="subtagRowForms.controls[element.id].invalid"
                                                (click)="subtagRowEditState[element.id] = false; updateSubtag(element, subtagRowForms.get(element.id).get('Subtag').value)" 
                                                class="table-cell-save-btn"
                                            >
                                                <mat-icon>check</mat-icon>
                                            </button>
                                            <button 
                                                type="button" 
                                                matSuffix
                                                mat-icon-button 
                                                color="accent" 
                                                matTooltip="Cancel" 
                                                matTooltipPosition="right" 
                                                (click)="subtagRowEditState[element.id] = false; resetSubtagsTableRowForm(element)"
                                                class="table-cell-cancel-btn"
                                            >
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="createdAt">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                                <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'MMM d, y, h:mm:ss a' }} </td>
                            </ng-container>
                    
                            <ng-container matColumnDef="updatedAt">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
                                <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'MMM d, y, h:mm:ss a' }} </td>
                            </ng-container>
                    
                            <ng-container matColumnDef="Actions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header disabled></th>
                                <td mat-cell *matCellDef="let element">
                                    <button type="button" mat-icon-button color="primary" [matMenuTriggerFor]="deleteSubtagPrompt" matTooltip="Delete Subtag" matTooltipPosition="left">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <mat-menu #deleteSubtagPrompt="matMenu" xPosition="before">
                                        <ng-template matMenuContent>
                                            <button type="button" mat-menu-item>
                                                <mat-icon>warning</mat-icon>
                                                <span>Are you sure?</span>
                                            </button>
                                            <mat-divider></mat-divider>
                                            <button type="button" mat-menu-item (click)="deleteSubtag(element)">
                                                <mat-icon>check</mat-icon>
                                                <span>Yes</span>
                                            </button>
                                            <button type="button" mat-menu-item>
                                                <mat-icon>close</mat-icon>
                                                <span>Nope</span>
                                            </button>
                                        </ng-template>
                                    </mat-menu>
                                </td>
                            </ng-container>
                    
                        </table>
                    </form>
                    <ng-container *ngIf="subtags.length < 1">
                        <table class="table-empty-message">
                            <tbody>
                                <tr class="mat-row">
                                    <td class="mat-cell">
                                        <span>There are currently no subtags. Get started by adding subtags with the form above.</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-container>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-dialog-content>
</div>