.dialog-container {
    position: relative;
    display: flex;

    padding: 0px 24px;
    margin: 0;

    .dialog-close-button {
        position: absolute;
        top: 8px;
        right: 10px;
        // color: white;
        z-index: 99;
    }

    h4 {
        margin: 0 0 12px 0;
        padding: 0 0 12px 0;
        font-weight: normal;
        text-transform: uppercase;
    }

    .dialog-content {
        padding: 6px;

        .dialog-card {
            margin: 0px 0px 20px 0px;

            .dialog-card-content {
                padding: 10px;

                .tag-input {
                    width: 100%;
                }

                .tag-save-btn {
                    float: right;
                    clear: both;
                }

                .btn-clearfix {
                    display: inline-block;
                    height: 36px;
                    width: 36px;
                }

                .add-subtag-container {
                  padding: 0px;
                  -webkit-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
                  -moz-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
                  box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
                  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                  .mat-expansion-panel {
                    background: none;
                    box-shadow: none;

                    .mat-expansion-panel-header {
                      .mat-expansion-panel-header-title {
                        line-height: 40px;
                        font-weight: 500;
                        font-size: .9em;
                        // text-transform: uppercase;
                      }
                    }

                    .form-actions {
                      text-align: right;

                      button {
                        margin-left: 10px;
                      }
                    }
                  }
                }
                
                .add-subtag-input {
                    width: 100%;
                }

            }

            .edge-to-edge {
              padding: 0;
            }
           
            &:last-child {
              margin: 0;
            }

        }
    }

}

.flex-bridge {
    flex: 1 1 auto;
}

.table-chip {
  margin-right: 6px;
}

.title-chip {
  margin-top: -10px;
  margin-left: 4px;
  line-height: 12px;
}


// -------------------------------------
//   Tables
// -------------------------------------
.subtags-table-container {
  .mat-column-id {
    flex: 1 1 0;
  }
  .mat-column-Subtag {
    flex: 1 1 0;
    // width: 200px;
  }
  .mat-column-createdAt {
    flex: 0 0 200px;
    width: 200px;
  }
  .mat-column-updatedAt {
    flex: 0 0 200px;
    width: 200px;
  }
  .mat-column-Actions {
    flex: 0 0 50px;
    width: 50px;
  }
}

.table-empty-message {
    width: 100%;
    text-align: center;

    .mat-row, .mat-cell {
        border-bottom: 0;
    }
}
