@import "src/theme/theme";
$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);
// -------------------------------------
//   Tables
// -------------------------------------
.users-table-container {
  .mat-column-Connected {
    flex: 1;
    width: 100px;
    // text-align: center;
  }
  .mat-column-id {
    flex: 1;
    width: 250px;
  }
  .mat-column-Name {
    text-transform: capitalize;
  }
  .mat-column-createdAt {
    flex: 1;
    width: 200px;
  }
  .mat-column-updatedAt {
    flex: 1;
    width: 200px;
  }
  .mat-column-Disabled {
    flex: 1;
    width: 80px;
  }
  .connected {
    color: mat-color($accent);
  }
  .disconnected {
    color: gray;
  }
}