<mat-card class="dashboard-card">
    <mat-card-header class="dashboard-card-header">
        <mat-card-title class="dashboard-card-title">
            <mat-chip color="primary" selected>{{ users.length }}</mat-chip>
            Users
        </mat-card-title>
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuUserTable" aria-label="Toggle menu" disabled>
            <mat-icon>all_inclusive</mat-icon>
        </button>
        <mat-menu #menuUserTable="matMenu" xPosition="before">
            <ng-template matMenuContent>
                <mat-divider></mat-divider>
                <button mat-menu-item [matMenuTriggerFor]="deleteAllUsersPrompt">
                    <mat-icon>delete</mat-icon>
                    <span>Delete All Users</span>
                </button>
            </ng-template>
        </mat-menu>
        <mat-menu #deleteAllUsersPrompt="matMenu" xPosition="before">
            <ng-template matMenuContent>
                <button mat-menu-item disabled matTooltip="Caution: Destroys (truncates) User table. This will decouple all User associations; only safe to perform pre-event." matTooltipPosition="left">
                    <mat-icon>warning</mat-icon>
                    <span>Are you sure?</span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item matTooltip="Caution: Destroys (truncates) User table. This will decouple all User associations; only safe to perform pre-event." matTooltipPosition="left" (click)="destroyUsers()">
                    <mat-icon>check</mat-icon>
                    <span>Yes</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>close</mat-icon>
                    <span>Nope</span>
                </button>
            </ng-template>
        </mat-menu>
    </mat-card-header>

    <mat-card-content class="dashboard-card-content">
        <div class="users-table-container">
            <form [formGroup]="form">
                <table mat-table #usersTable matSort [dataSource]="UsersTableDataSource" formArrayName="users" class="table-users">
                    <tr mat-header-row *matHeaderRowDef="UsersTableDisplayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; let i = index; columns: UsersTableDisplayedColumns;"></tr>

                    <ng-container matColumnDef="Connected">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Connected </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon *ngIf="element.Connected" class="connected">wifi</mat-icon>
                            <mat-icon *ngIf="!element.Connected" class="disconnected">wifi_off</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                        <td mat-cell *matCellDef="let element" [innerHTML]="element.id"></td>
                    </ng-container>

                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'MMM d, y, h:mm:ss a' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="updatedAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
                        <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'MMM d, y, h:mm:ss a' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let element">{{ element.Email }}</td>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let element">{{ element.FirstName }} {{ element.LastName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="Groups">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Groups </th>
                        <td mat-cell *matCellDef="let element" [innerHTML]="element.Groups"></td>
                    </ng-container>

                    <ng-container matColumnDef="Disabled">
                        <th mat-header-cell *matHeaderCellDef> Disabled </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.Disabled" (toggleChange)="disableEnableUser(element.id)"></mat-slide-toggle>
                        </td>
                    </ng-container>
                </table>
            </form>
        </div>
    </mat-card-content>
</mat-card>