@import "src/theme/theme";
$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

// -------------------------------------
//   Add Congress
// -------------------------------------

.add-congress-container {
  padding: 0px;

  -webkit-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .mat-expansion-panel {
    background: none;
    box-shadow: none;

    .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        line-height: 40px;
        font-weight: 500;
        font-size: .9em;
        // text-transform: uppercase;
      }
    }

    .form-actions {
      text-align: right;

      button {
        margin-left: 10px;
      }
    }
  }

  .mat-form-field {
    display: block;
  }

  .file-input-form-field {
    margin-bottom: 1.75em;

    .mat-form-field-infix {
      padding: 0 !important;
    }
  }

  .cell-file-input-form-field {
    margin-bottom: 0 !important;
  }

  .mat-slide-toggle {
    margin-right: 40px;
  }

  .mat-cell {
    .mat-form-field {
      display: flex;
      flex: 1 1 auto;

      .mat-form-field-wrapper {
        flex: 1 1 auto;
      }
    }
  }
}

// -------------------------------------
//   Tables
// -------------------------------------
.congresses-table-container {
  .mat-column-Event {
    flex: 1 1 0;
  }
  .mat-column-Location {
    flex: 1 1 0;
  }
  .mat-column-Dates {
    flex: 1 1 0;
  }
  .mat-column-StartDate {
    flex: 1 1 0;
  }
  .mat-column-EndDate {
    flex: 1 1 0;
  }
  .mat-column-Specialty {
    flex: 1 1 0;
  }
  .mat-column-Attendance {
    flex: 1 1 0;
  }
  .mat-column-Attendees {
    flex: 1 1 0;
  }
  .mat-column-Image {
    flex: 1 1 0;
  }
  .mat-column-Links {
    flex: 1 1 0;
  }
  .mat-column-createdAt {
    flex: 0 0 180px;
    width: 200px;
  }
  .mat-column-updatedAt {
    flex: 0 0 180px;
    width: 200px;
  }
  .mat-column-Actions {
    flex: 0 0 90px;
    width: 100px;
  }
}

.table-empty-message {
  width: 100%;
  text-align: center;
}

// -------------------------------------
//   Filter
// -------------------------------------

.filter-container {
  padding: 24px 24px 0 24px;

  .mat-form-field {
    width: 100%;
  }
}