<mat-card class="dashboard-card"> 
  <mat-card-header class="dashboard-card-header">
    <mat-card-title class="dashboard-card-title">
      Congresses
    </mat-card-title>
    <button type="button" mat-icon-button class="more-button" [matMenuTriggerFor]="menuUserTable" matTooltip="Bulk Operations" matTooltipPosition="left">
      <mat-icon>
        all_inclusive
      </mat-icon>
    </button>
    <mat-menu #menuUserTable="matMenu" xPosition="before">
      <ng-template matMenuContent>
        <button type="button" mat-menu-item [matMenuTriggerFor]="deleteAllCongressesPrompt" disabled>
          <mat-icon>delete
            <span>Delete All Congresses</span>
          </mat-icon>
        </button>
      </ng-template>
    </mat-menu>
    <mat-menu #deleteAllCongressesPrompt="matMenu" xPosition="before">
      <ng-template matMenuContent>
          <button type="button" mat-menu-item disabled>
              <mat-icon>warning</mat-icon>
              <span>Are you sure?</span>
          </button>
          <mat-divider></mat-divider>
          <button type="button" mat-menu-item (click)="destroyCongresses()">
              <mat-icon>check</mat-icon>
              <span>Yes</span>
          </button>
          <button type="button" mat-menu-item>
              <mat-icon>close</mat-icon>
              <span>Nope</span>
          </button>
      </ng-template>
  </mat-menu>    
  </mat-card-header>

  <mat-card-content class="dashboard-card-content">
      <div class="add-congress-container">
        <mat-accordion>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button type="button" mat-icon-button color="primary">
                  <mat-icon>add</mat-icon>
                </button>
                <span>Add a Congress</span>              
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="createForm">
              <div fxLayout="row" fxLayoutGap="0.5%">
                  <div fxFlex="40%">
                      <mat-form-field appearance="outline" floatLabel="always">
                          <mat-label>Event</mat-label>
                          <input matInput placeholder="" formControlName="Event" hidden>
                          <div [froalaEditor]="inlineEditorOptions" formControlName="Event"></div>
                          <mat-error *ngIf="createForm.controls.Event.invalid && createForm.controls.Event.errors.required">Event is required.</mat-error>
                          <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Event'), { multiLine: false })">
                              <mat-icon>text_format</mat-icon>
                          </button>

                      </mat-form-field>
                  </div>
                  <div fxFlex="60%">
                      <mat-form-field appearance="outline" floatLabel="always">
                          <mat-label>Location</mat-label>
                          <input matInput placeholder="" formControlName="Location" hidden>
                          <div [froalaEditor]="inlineEditorOptions" formControlName="Location"></div>
                          <mat-error *ngIf="createForm.controls.Location.invalid && createForm.controls.Location.errors.required">Location is required.</mat-error>
                          <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Location'), { multiLine: false })">
                              <mat-icon>text_format</mat-icon>
                          </button>
                      </mat-form-field>
                  </div>
              </div>
              <div fxLayout="row" fxLayoutGap="0.5%">
                  <div fxFlex="50%">
                      <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="startDatePicker" [max]="maxDate" (dateInput)="setMinMaxDates($event)" placeholder="Choose a start date" formControlName="StartDate">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                        <mat-error *ngIf="createForm.controls.StartDate.invalid">Please choose a start date before your end date.</mat-error>
                      </mat-form-field>
                  </div>
                  <div fxFlex="50%">
                    <mat-form-field appearance="outline" floatLabel="always">
                      <mat-label>End Date</mat-label>
                      <input matInput [matDatepicker]="endDatePicker" [min]="minDate" (dateInput)="setMinMaxDates($event)"placeholder="Choose an end date" formControlName="EndDate">
                      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #endDatePicker></mat-datepicker>
                      <mat-error *ngIf="createForm.controls.EndDate.invalid">Please choose an end date after your start date.</mat-error>

                    </mat-form-field>
            </div>
              </div>
              <div fxLayout="row" fxLayoutGap="0.5%">
                  <div fxFlex="50%">
                      <mat-form-field appearance="outline" floatLabel="always">
                          <mat-label>Specialty</mat-label>
                          <input matInput placeholder="" formControlName="Specialty" hidden>
                          <div [froalaEditor]="inlineEditorOptions" formControlName="Specialty"></div>
                          <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Specialty'), { multiLine: false })">
                              <mat-icon>text_format</mat-icon>
                          </button>
                        </mat-form-field>
                  </div>
                  <div fxFlex="50%">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Attendance</mat-label>
                        <input matInput placeholder="" formControlName="Attendance" hidden>
                        <div [froalaEditor]="inlineEditorOptions" formControlName="Attendance"></div>
                        <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Attendance'), { multiLine: false })">
                            <mat-icon>text_format</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="0.5%">
                  <div fxFlex="50%">
                      <mat-form-field appearance="outline" floatLabel="always">
                          <mat-label>Attendees</mat-label>
                          <input matInput placeholder="" formControlName="Attendees" hidden>
                          <div [froalaEditor]="inlineEditorOptions" formControlName="Attendees"></div>
                          <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(createForm.get('Location'), { multiLine: false })">
                              <mat-icon>text_format</mat-icon>
                          </button>
                        </mat-form-field>
                      </div>
                      <div fxFlex="50%">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label>Image</mat-label>
                            <input matInput formControlName="Image" hidden>
                            <input matInput [readonly]="true" placeholder="Select or Upload a File" [value]="createForm.get('Image').value.key" (click)="openFileSelectDialog(createForm.get('Image'))">
                            <button type="button" matSuffix mat-icon-button color="primary" matTooltip="Select or Upload a File" matTooltipPosition="right" (click)="openFileSelectDialog(createForm.get('Image'))" class="input-suffix-btn">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                            <button *ngIf="createForm.get('Image').value.key" type="button" matSuffix mat-icon-button color="accent" matTooltip="Clear" matTooltipPosition="right" (click)="createForm.get('Image').setValue({ key: null, eTag: null, lastModified: null, size: null }); createForm.get('Image').markAsDirty()" class="input-suffix-btn">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error *ngIf="createForm.controls.Image.invalid"></mat-error>
                        </mat-form-field>
                    </div>
                    </div>              
              <div fxLayout="row" fxLayoutGap="0.5%">
                <div fxFlex="100%">
                  <mat-form-field appearance="outline" floatLabel="always" class="add-tag-input tag-input order-tag-input">
                    <mat-label>Links</mat-label>
                    <input matInput hidden>
                    <tag-input 
                        formControlName="Links"
                        [dragZone]="'zone1'"
                        secondaryPlaceholder="Supporting Links"
                        placeholder=". . ."
                        (keyup)="$event.preventDefault()"
                        (keydown)="$event.preventDefault()"
                        [theme]="'dark'"
                    >
                        <tag-input-dropdown
                            [autocompleteItems]="linksForAutoComplete"
                            [displayBy]=""
                        >
                        </tag-input-dropdown>
                    </tag-input>
                    <button 
                        type="button" 
                        matSuffix
                        mat-icon-button 
                        color="primary" 
                        matTooltip="Add Links" 
                        matTooltipPosition="right"
                        (click)="$event.stopPropagation(); openLinkEditorDialog(createForm.get('Links'))"
                        class="input-suffix-btn"
                    >
                        <mat-icon>link</mat-icon>
                    </button>
                    <mat-hint>Drag and drop the list items to reorder</mat-hint>
                </mat-form-field>
                </div>
              </div>
              <!-- <div fxLayout="row" fxLayoutGap="0.5%">
                <div fxFlex="100%">
                  <mat-form-field appearance="outline" floatLabel="always" class="add-tag-input tag-input order-tag-input">
                    <mat-label>Supporting Documents</mat-label>
                    <input matInput hidden>
                    <tag-input 
                        formControlName="Documents"
                        [dragZone]="'zone1'"
                        secondaryPlaceholder="Supporting Documents"
                        placeholder=". . ."
                        (keyup)="$event.preventDefault()"
                        (keydown)="$event.preventDefault()"
                        [theme]="'dark'"
                    >
                        <tag-input-dropdown
                            [autocompleteItems]="documentsForAutoComplete"
                            [displayBy]=""
                        >
                        </tag-input-dropdown>
                    </tag-input>
                    <button 
                        type="button" 
                        matSuffix
                        mat-icon-button 
                        color="primary" 
                        matTooltip="Select Supporting Documents" 
                        matTooltipPosition="right"
                        (click)="$event.stopPropagation(); openDocumentMultiSelectDialog(createForm.get('Documents'))"
                        class="input-suffix-btn"
                    >
                        <mat-icon>list_alt</mat-icon>
                    </button>
                    <mat-hint>Drag and drop the list items to reorder</mat-hint>
                </mat-form-field>
                </div>
              </div>               -->
          </form>
          <div class="form-actions">
              <button type="button" mat-button color="primary" [disabled]="!createForm.dirty && !createForm.touched" (click)="resetCreateForm();">Clear</button>
              <button type="button" mat-raised-button color="primary" (click)="createCongress()" [disabled]="!createForm.dirty">Save</button>
          </div>            
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="filter-container">
        <mat-form-field appearance="outline">
          <mat-label>Filter</mat-label>
          <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          <button *ngIf="filterValue.length > 0" type="button" matSuffix mat-icon-button color="accent" matTooltip="Clear Filter" matTooltipPosition="above" (click)="clearFilter()">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="congresses-table-container">
        <form [formGroup]="CongressesTableForm">
          <table mat-table #congressesTable matSort [dataSource]="CongressesTableDataSource" formArrayName="CongressesTableRowForms" class="table-congresses">
  
            <tr mat-header-row *matHeaderRowDef="CongressesTableDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: CongressesTableDisplayedColumns;"></tr>
  
            <ng-container matColumnDef="Event">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Event </th>
              <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="CongressesTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Event');" class="cell-editable">
                <span *ngIf="!CongressesTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Event"></span>
                <div class="cell-input-container" *ngIf="CongressesTableRowEditState[element.id]">
                  <mat-form-field appearance="outline" class="table-cell-input">
                    <input matInput #tableRowEventInputs [value]="element.Event" formControlName="Event" id="{{element.id}}-Event" hidden>
                    <div [froalaEditor]="inlineEditorOptions" formControlName="Event"></div>
                    <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(CongressesTableRowForms.get(element.id).get('Event'), { multiLine: false })">
                      <mat-icon>text_format</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="Location">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
              <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="CongressesTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Location');" class="cell-editable">
                <span *ngIf="!CongressesTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Location"></span>
                <div class="cell-input-container" *ngIf="CongressesTableRowEditState[element.id]">
                  <mat-form-field appearance="outline" class="table-cell-input">
                    <input matInput #tableRowAbbreviationInputs [value]="element.Location" formControlName="Location" id="{{element.id}}-Location" hidden>
                    <div [froalaEditor]="inlineEditorOptions" formControlName="Location"></div>
                    <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(CongressesTableRowForms.get(element.id).get('Location'), { multiLine: false })">
                      <mat-icon>text_format</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="Dates">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Dates </th>
              <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="CongressesTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Dates');" class="cell-editable">
                <span *ngIf="!CongressesTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Dates"></span>
                <div class="cell-input-container" *ngIf="CongressesTableRowEditState[element.id]">
                  <mat-form-field appearance="outline" class="table-cell-input">
                    <input matInput #tableRowAbbreviationInputs [value]="element.Dates" formControlName="Dates" id="{{element.id}}-Dates" hidden>
                    <div [froalaEditor]="inlineEditorOptions" formControlName="Dates"></div>
                    <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(CongressesTableRowForms.get(element.id).get('Dates'), { multiLine: false })">
                      <mat-icon>text_format</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="StartDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> StartDate </th>
              <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="CongressesTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'StartDate');" class="cell-editable">
                <span *ngIf="!CongressesTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.StartDate"></span>
                <div class="cell-input-container" *ngIf="CongressesTableRowEditState[element.id]">
                  <mat-form-field appearance="outline" class="table-cell-input">
                    <input matInput #tableRowAbbreviationInputs [value]="element.StartDate" formControlName="StartDate" id="{{element.id}}-StartDate" hidden>
                    <div [froalaEditor]="inlineEditorOptions" formControlName="StartDate"></div>
                    <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(CongressesTableRowForms.get(element.id).get('StartDate'), { multiLine: false })">
                      <mat-icon>text_format</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="EndDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> EndDate </th>
              <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="CongressesTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'EndDate');" class="cell-editable">
                <span *ngIf="!CongressesTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.EndDate"></span>
                <div class="cell-input-container" *ngIf="CongressesTableRowEditState[element.id]">
                  <mat-form-field appearance="outline" class="table-cell-input">
                    <input matInput #tableRowAbbreviationInputs [value]="element.EndDate" formControlName="EndDate" id="{{element.id}}-EndDate" hidden>
                    <div [froalaEditor]="inlineEditorOptions" formControlName="EndDate"></div>
                    <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(CongressesTableRowForms.get(element.id).get('EndDate'), { multiLine: false })">
                      <mat-icon>text_format</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="Specialty">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Specialty </th>
              <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="CongressesTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Specialty');" class="cell-editable">
                <span *ngIf="!CongressesTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Specialty"></span>
                <div class="cell-input-container" *ngIf="CongressesTableRowEditState[element.id]">
                  <mat-form-field appearance="outline" class="table-cell-input">
                    <input matInput #tableRowAbbreviationInputs [value]="element.Specialty" formControlName="Specialty" id="{{element.id}}-Specialty" hidden>
                    <div [froalaEditor]="inlineEditorOptions" formControlName="Specialty"></div>
                    <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(CongressesTableRowForms.get(element.id).get('Specialty'), { multiLine: false })">
                      <mat-icon>text_format</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="Attendance">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Attendance </th>
              <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="CongressesTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Attendance');" class="cell-editable">
                <span *ngIf="!CongressesTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Attendance"></span>
                <div class="cell-input-container" *ngIf="CongressesTableRowEditState[element.id]">
                  <mat-form-field appearance="outline" class="table-cell-input">
                    <input matInput #tableRowAbbreviationInputs [value]="element.Attendance" formControlName="Attendance" id="{{element.id}}-Attendance" hidden>
                    <div [froalaEditor]="inlineEditorOptions" formControlName="Attendance"></div>
                    <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(CongressesTableRowForms.get(element.id).get('Attendance'), { multiLine: false })">
                      <mat-icon>text_format</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="Attendees">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Attendees </th>
              <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="CongressesTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Attendees');" class="cell-editable">
                <span *ngIf="!CongressesTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Attendees"></span>
                <div class="cell-input-container" *ngIf="CongressesTableRowEditState[element.id]">
                  <mat-form-field appearance="outline" class="table-cell-input">
                    <input matInput #tableRowAbbreviationInputs [value]="element.Attendees" formControlName="Attendees" id="{{element.id}}-Attendees" hidden>
                    <div [froalaEditor]="inlineEditorOptions" formControlName="Attendees"></div>
                    <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(CongressesTableRowForms.get(element.id).get('Attendees'), { multiLine: false })">
                      <mat-icon>text_format</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>


            <ng-container matColumnDef="Image">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
              <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="CongressesTableRowEditState[element.id] = true; setTableRowCellInputFocus(element.id, 'Image');" class="cell-editable">
                  <span *ngIf="!CongressesTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Image.key | S3keyRmHash"></span>
                  <div class="cell-input-container" *ngIf="CongressesTableRowEditState[element.id]">
                      <mat-form-field appearance="outline" class="table-cell-input">
                          <input matInput #tableRowReferenceMasterVersionInputs [value]="element.Image.key" formControlName="Image" id="{{element.id}}-Image" (click)="openFileSelectDialog(CongressesTableRowForms.get(element.id).get('Image'))" hidden>
                          <input matInput [readonly]="true" [value]="CongressesTableRowForms.get(element.id).get('Image').value.key" (click)="openFileSelectDialog(CongressesTableRowForms.get(element.id).get('Image'))">
                          <button type="button" matSuffix mat-icon-button color="primary" matTooltip="Select or Upload a File" matTooltipPosition="right" (click)="openFileSelectDialog(CongressesTableRowForms.get(element.id).get('Image'))">
                              <mat-icon>attach_file</mat-icon>
                          </button>
                          <button *ngIf="CongressesTableRowForms.get(element.id).get('Image').value.key" type="button" matSuffix mat-icon-button color="accent" matTooltip="Clear" matTooltipPosition="right" (click)="CongressesTableRowForms.get(element.id).get('Image').setValue({ key: null, eTag: null, lastModified: null, size: null }); CongressesTableRowForms.get(element.id).get('FilePath').markAsDirty()" class="input-suffix-btn">
                              <mat-icon>close</mat-icon>
                          </button>
                      </mat-form-field>
                  </div>
              </td>
          </ng-container>

            <!-- Need the form! to save the values -->
            <ng-container matColumnDef="Links">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Links </th>
              <td mat-cell *matCellDef="let element" [formGroupName]="element.id" (click)="CongressesTableRowEditState[element.id] = true;" class="cell-editable">
                  <!-- <span *ngIf="!CongressesTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" [innerHTML]="element.Links"></span> -->
                  <span *ngIf="!CongressesTableRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right">
                      <span *ngFor="let link of element.Links; let isLast=last">{{ link.Title }}{{isLast ? '' : ', '}} </span>
                  </span>
                  <div class="cell-input-container" *ngIf="CongressesTableRowEditState[element.id]">
                      <mat-form-field appearance="outline" class="table-cell-input">
                          <mat-select placeholder="Select Supporting Links" #tableRowDocumentMasterVersionInputs formControlName="Links" id="{{element.id}}-Links" multiple>
                              <mat-option *ngFor="let link of links" [value]="link.id">[ {{link.Title}} ] {{link.Title}}</mat-option>
                          </mat-select>
                          <button *ngIf="CongressesTableRowEditState[element.id]" type="button" matSuffix mat-icon-button color="accent" matTooltip="Select Supporting Links" matTooltipPosition="right" (click)="$event.stopPropagation(); openEditLinkMultiSelectDialog(CongressesTableRowForms.get(element.id).get('Links'), element);">
                              <mat-icon>list_alt</mat-icon>
                          </button>
                      </mat-form-field>
                  </div>
              </td>
          </ng-container>            
  
            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
              <td mat-cell *matCellDef="let element"> {{ element.createdAt | date: 'MMM d, y, h:mm:ss a' }} </td>
            </ng-container>
  
            <ng-container matColumnDef="updatedAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
              <td mat-cell *matCellDef="let element"> {{ element.updatedAt | date: 'MMM d, y, h:mm:ss a' }} </td>
            </ng-container>
  
            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header disabled></th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="CongressesTableRowEditState[element.id]" class="cell-input-container">
                  <button type="button" *ngIf="CongressesTableRowForms.get(element.id).dirty" mat-icon-button color="primary" matTooltip="Save" matTooltipPosition="right" [disabled]="CongressesTableRowForms.controls[element.id].invalid" (click)="CongressesTableRowEditState[element.id] = false; updateCongress(CongressesTableRowForms.get(element.id).value)" class="table-cell-save-btn">
                    <mat-icon>check</mat-icon>
                  </button>
                  <button type="button" mat-icon-button color="accent" matTooltip="Cancel" matTooltipPosition="right" (click)="CongressesTableRowEditState[element.id] = false; resetCongressesTableRowForm(element);" class="table-cell-cancel-btn">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <button *ngIf="!CongressesTableRowEditState[element.id]" type="button" mat-icon-button color="primary" [matMenuTriggerFor]="deleteCongressPrompt" matTooltip="Delete Congress" matTooltipPosition="left">
                  <mat-icon>delete</mat-icon>
                </button>
                <mat-menu #deleteCongressPrompt="matMenu" xPosition="before">
                  <ng-template matMenuContent>
                    <button type="button" mat-menu-item>
                      <mat-icon>warning</mat-icon>
                      <span>Are you sure?</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button type="button" mat-menu-item (click)="deleteCongress(element)">
                      <mat-icon>check</mat-icon>
                      <span>Yes</span>
                    </button>
                    <button type="button" mat-menu-item>
                      <mat-icon>close</mat-icon>
                      <span>Nope</span>
                    </button>
                  </ng-template>
                </mat-menu>
              </td>
            </ng-container>
          </table>
        </form>
        <ng-container *ngIf="congresses.length < 1">
          <table class="table-empty-message">
            <tbody>
              <tr class="mat-row">
                <td class="mat-cell">
                  <span>There are currently no congresses. Get started by adding congresses using the form above.</span>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
        <mat-paginator #tablePaginator [pageIndex]="0" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
      </div>      
  </mat-card-content>
</mat-card>
