.dialog-container {
    position: relative;
    display: flex;

    padding: 0px 24px;
    margin: 0;

    .dialog-close-button {
        position: absolute;
        top: 8px;
        right: 10px;
        // color: white;
        z-index: 99;
    }

    h4 {
        margin: 0 0 12px 0;
        padding: 0 0 12px 0;
        font-weight: normal;
        text-transform: uppercase;
    }

    .dialog-content {
        padding: 6px;

        .dialog-card {
            margin: 0px 0px 20px 0px;

            .dialog-card-content {
                padding: 10px;
            }

            .edge-to-edge {
              padding: 0;
            }
           
            &:last-child {
              margin: 0;
            }

        }
    }

}

.flex-bridge {
    flex: 1 1 auto;
}