<form [formGroup]="editSettingsForm">
  <div fxLayout="row" fxLayoutGap="0.5%">
    <ng-container *ngFor="let setting of settings | orderBy: 'Title'">

      <ng-container [ngSwitch]="setting.Type">

        <!-- Text -->
        <mat-form-field *ngSwitchDefault appearance="outline" floatLabel="always" fxFlex>
          <mat-label>{{ setting.Name }}</mat-label>
          <input matInput [formControlName]="setting.Key" [placeholder]="setting.Name">
        </mat-form-field>

        <!-- File -->
        <mat-form-field *ngSwitchCase="'file'" appearance="outline" floatLabel="always" fxFlex>
          <mat-label>{{ setting.Name }}</mat-label>
          <input matInput [formControlName]="setting.Key" hidden>
          <input matInput [readonly]="true" placeholder="Select or Upload a File" [value]="editSettingsForm.get(setting.Key).value.key" (click)="openFileSelectDialog(editSettingsForm.get(setting.Key))" [disabled]="status !== Status.Editing">
          <ng-container *ngIf="status === Status.Editing; then editSuffix else browseSuffix" matSuffix>
          </ng-container>
          <ng-template #editSuffix matSuffix>
            <button type="button" mat-icon-button color="primary" matTooltip="Select or Upload a File" matTooltipPosition="right" (click)="openFileSelectDialog(editSettingsForm.get(setting.Key))" class="input-suffix-btn">
              <mat-icon>attach_file</mat-icon>
            </button>
            <button *ngIf="editSettingsForm.get(setting.Key).value.key" type="button" mat-icon-button color="accent" matTooltip="Clear" matTooltipPosition="right" (click)="editSettingsForm.get(setting.Key).setValue({ id: null, key: null, eTag: null, lastModified: null, size: null }); editSettingsForm.get(setting.Key).markAsDirty()" class="input-suffix-btn">
              <mat-icon>close</mat-icon>
            </button>
          </ng-template>
          <ng-template #browseSuffix matSuffix>
            <button type="button" mat-icon-button color="primary" matTooltip="View File" matTooltipPosition="right" (click)="viewFile(editSettingsForm.get(setting.Key).value.key)" class="input-suffix-btn">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </ng-template>
          <mat-error *ngIf="editSettingsForm.get(setting.Key).invalid"></mat-error>
        </mat-form-field>

      </ng-container>

    </ng-container>
  </div>
</form>

<div *ngIf="status === Status.Editing; then editActions else browseActions" class="form-actions"></div>

<ng-template #editActions>
  <button type="button" mat-button color="primary" (click)="restoreSettingsForm()">Cancel</button>
  <button type="button" mat-raised-button color="primary" [disabled]="editSettingsForm.pristine || editSettingsForm.invalid" (click)="updateSettings()">Save</button>
</ng-template>

<ng-template #browseActions>
  <button type="button" mat-mini-fab color="accent" (click)="editSettings()">
    <mat-icon>edit</mat-icon>
  </button>
</ng-template>