<mat-card class="dashboard-card">
    <mat-card-header class="dashboard-card-header">
        <mat-card-title class="dashboard-card-title">
            <!-- <mat-chip color="primary" selected>{{ [].length }}</mat-chip> -->
            Tags
        </mat-card-title>
        <button type="button" mat-icon-button class="more-button" [matMenuTriggerFor]="menuUserTable" matTooltip="Bulk Operations" matTooltipPosition="left">
            <mat-icon>all_inclusive</mat-icon>
        </button>
        <mat-menu #menuUserTable="matMenu" xPosition="before">
            <ng-template matMenuContent>
                <!-- <mat-divider></mat-divider> -->
                <button type="button" mat-menu-item [matMenuTriggerFor]="deleteAllTagsPrompt" disabled>
                    <mat-icon>delete</mat-icon>
                    <span>Delete All Tags & Subtags</span>
                </button>
            </ng-template>
        </mat-menu>
        <mat-menu #deleteAllTagsPrompt="matMenu" xPosition="before">
            <ng-template matMenuContent>
                <button type="button" mat-menu-item disabled>
                    <mat-icon>warning</mat-icon>
                    <span>Are you sure?</span>
                </button>
                <mat-divider></mat-divider>
                <button type="button" mat-menu-item (click)="destroyTags()">
                    <mat-icon>check</mat-icon>
                    <span>Yes</span>
                </button>
                <button type="button" mat-menu-item>
                    <mat-icon>close</mat-icon>
                    <span>Nope</span>
                </button>
            </ng-template>
        </mat-menu>
    </mat-card-header>

    <mat-card-content class="dashboard-card-content">

        <div class="add-tag-container">
            <mat-accordion>
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <button type="button" mat-icon-button color="primary">
                                <mat-icon>add</mat-icon>
                            </button>
                            <span>Add Tags</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form [formGroup]="tagCreateForm">
                        <mat-form-field appearance="outline" class="add-tag-input tag-input">
                            <input matInput formControlName="placeholder" hidden>
                            <tag-input [(ngModel)]="tagCreateInput" [ngModelOptions]="{standalone: true}" secondaryPlaceholder="Tag" placeholder=". . ." addOnPaste="true" blinkIfDupe="true" [dragZone]="'zone1'"></tag-input>
                            <mat-hint>Type and press enter or paste to add a tag to the list. Drag and drop the tag chips to reorder.</mat-hint>
                        </mat-form-field>
                    </form>
                    <div class="form-actions">
                        <button type="button" mat-button color="primary" [disabled]="tagCreateInput.length == 0" (click)="tagCreateInput = []">Clear</button>
                        <button type="button" mat-raised-button color="primary" (click)="createTags()" [disabled]="tagCreateInput.length == 0">Save</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="filter-container">
            <mat-form-field appearance="outline">
                <mat-label>Filter</mat-label>
                <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                <button *ngIf="filterValue.length > 0" type="button" matSuffix mat-icon-button color="accent" matTooltip="Clear Filter" matTooltipPosition="above" (click)="clearFilter()">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="tags-table-container">
            <form [formGroup]="tagTableForm">
                <table mat-table #tagsTable matSort [dataSource]="TagsTableDataSource" formArrayName="tagRowForms" class="table-tags">

                    <tr mat-header-row *matHeaderRowDef="TagsTableDisplayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; let i = index; columns: TagsTableDisplayedColumns;"></tr>

                    <ng-container matColumnDef="Tag">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tag </th>
                        <td mat-cell *matCellDef="let element; let i = index;" [formGroupName]="element.id">
                            <mat-chip *ngIf="!tagRowEditState[element.id]" matTooltip="Edit" matTooltipPosition="right" (click)="tagRowEditState[element.id] = true; setTableRowTagInputFocus(element.id);" class="table-chip">
                                {{ element.Tag }}
                            </mat-chip>
                            <div *ngIf="tagRowEditState[element.id]" class="cell-input-container">
                                <mat-form-field appearance="outline" class="table-cell-input">
                                    <input matInput #tableRowTagInputs [(value)]="element.Tag" formControlName="Tag" [id]="element.id" (keyup.enter)="$event.preventDefault(); tagRowEditState[element.id] = false; updateTag(element, tagRowForms.get(element.id).get('Tag').value);" (blur)="tagRowEditState[element.id] = (element.Tag !== tagRowForms.get(element.id).get('Tag').value)" hidden>
                                    <div [froalaEditor]="inlineEditorOptions" formControlName="Tag"></div>
                                    <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Format Editor" matTooltipPosition="right" (click)="openHTMLEditorDialog(tagRowForms.get(element.id).get('Tag'), { multiLine: false, toolbarButtons: ['superscript', 'subscript', '|', 'specialCharacters', '|', 'undo', 'redo', '|', 'html'] })">
                                        <mat-icon>text_format</mat-icon>
                                    </button>
                                    <button type="button" *ngIf="tagRowForms.get(element.id).get('Tag').value !== element.Tag" matSuffix mat-icon-button color="primary" matTooltip="Save" matTooltipPosition="right" [disabled]="tagRowForms.controls[element.id].invalid" (click)="tagRowEditState[element.id] = false; updateTag(element, tagRowForms.get(element.id).get('Tag').value)" class="table-cell-save-btn">
                                        <mat-icon>check</mat-icon>
                                    </button>
                                    <button type="button" matSuffix mat-icon-button color="accent" matTooltip="Cancel" matTooltipPosition="right" (click)="tagRowEditState[element.id] = false; resetTagsTableRowForm(element)" class="table-cell-cancel-btn">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>

                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Subtags">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subtags </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-chip *ngFor="let subtag of element.Subtags" matTooltip="Edit" matTooltipPosition="right" (click)="openSubtagEditDialog(element.id, subtag.id)" class="table-chip">
                                {{ subtag.Subtag }}
                            </mat-chip>
                            <button type="button" mat-icon-button color="primary" matTooltip="Add Subtags" matTooltipPosition="right" (click)="openSubtagEditDialog(element.id, null)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                        <td mat-cell *matCellDef="let element" [innerHTML]="element.id"></td>
                    </ng-container>

                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'MMM d, y, h:mm:ss a' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="updatedAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
                        <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'MMM d, y, h:mm:ss a' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disabled></th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" mat-icon-button color="primary" [matMenuTriggerFor]="deleteTagPrompt" matTooltip="Delete Tag & Subtags" matTooltipPosition="left">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <mat-menu #deleteTagPrompt="matMenu" xPosition="before">
                                <ng-template matMenuContent>
                                    <button type="button" mat-menu-item>
                                        <mat-icon>warning</mat-icon>
                                        <span>Are you sure?</span>
                                    </button>
                                    <mat-divider></mat-divider>
                                    <button type="button" mat-menu-item (click)="deleteTag(element)">
                                        <mat-icon>check</mat-icon>
                                        <span>Yes</span>
                                    </button>
                                    <button type="button" mat-menu-item>
                                        <mat-icon>close</mat-icon>
                                        <span>Nope</span>
                                    </button>
                                </ng-template>
                            </mat-menu>
                        </td>
                    </ng-container>

                </table>
            </form>
            <ng-container *ngIf="tags.length < 1">
                <table class="table-empty-message">
                    <tbody>
                        <tr class="mat-row">
                            <td class="mat-cell">
                                <span>There are currently no tags. Get started by adding tags with the form above.</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <mat-paginator #tablePaginator [pageIndex]="0" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>