@import "src/theme/theme";
$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

// -------------------------------------
//   Add Tag
// -------------------------------------

.add-tag-container {
  padding: 0px;

  -webkit-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px -4px 10px -2px rgba(0, 0, 0, 0.05);
  
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .mat-expansion-panel {
    background: none;
    box-shadow: none;

    .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        line-height: 40px;
        font-weight: 500;
        font-size: .9em;
        // text-transform: uppercase;
      }
    }

    .form-actions {
      text-align: right;

      button {
        margin-left: 10px;
      }
    }
  }
}

.add-tag-input {
  width: 100%;
}

.order-tag-input {
  margin-bottom: 20px !important;
}

.form-actions {
  text-align: right;

  button {
    margin-left: 10px;
  }
}

.chip-icon {
  color: mat-color($primary);
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 16px;
  padding: 0 4px;
}

.table-chip {
  margin-right: 6px;
}

// -------------------------------------
//   Tables
// -------------------------------------
.tags-table-container {
  .mat-column-Tag {
    flex: 1 1 0;
  }
  .mat-column-Subtags {
    flex: 3 1 0;
  }
  .mat-column-createdAt {
    flex: 0 0 200px;
    width: 200px;
  }
  .mat-column-updatedAt {
    flex: 0 0 200px;
    width: 200px;
  }
  .mat-column-Actions {
    flex: 0 0 50px;
    width: 50px;
  }
}

.table-empty-message {
  width: 100%;
  text-align: center;
}

// -------------------------------------
//   Filter
// -------------------------------------

.filter-container {
  padding: 24px 24px 0 24px;

  .mat-form-field {
    width: 100%;
  }
}