<div class="dialog-container">
    <mat-dialog-content class="dialog-content">
        <button type="button" mat-icon-button class="dialog-close-button" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>

        <mat-card class="dialog-card">
            <mat-card-header class="dialog-card-header">
                <mat-card-title class="dialog-card-title">
                    Reference Select
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dialog-card-content edge-to-edge">
                <div class="filter-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Filter</mat-label>
                        <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        <button 
                            *ngIf="filterValue.length > 0"
                            type="button" 
                            matSuffix
                            mat-icon-button 
                            color="accent" 
                            matTooltip="Clear Filter" 
                            matTooltipPosition="above"
                            (click)="clearFilter()"
                        >
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="references-table-container">
                    <table 
                        mat-table 
                        #masterverisonsTable 
                        matSort 
                        [dataSource]="MasterVersionsTableDataSource"
                        class="table-references"
                    >

                        <tr mat-header-row *matHeaderRowDef="MasterVersionsTableDisplayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; let i = index; columns: MasterVersionsTableDisplayedColumns;"></tr>

                        <ng-container matColumnDef="UniqueID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> UID </th>
                            <td mat-cell *matCellDef="let element">
                                <span [innerHTML]="element.UniqueID"></span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="DisplayName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Display Name </th>
                            <td mat-cell *matCellDef="let element">
                                <span [innerHTML]="element.DisplayName"></span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                            <td mat-cell *matCellDef="let element">
                                <span [innerHTML]="element.Title"></span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ShortCitation">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Short Citation </th>
                            <td mat-cell *matCellDef="let element">
                                <span [innerHTML]="element.ShortCitation"></span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                            <td mat-cell *matCellDef="let element"> {{ element.createdAt | date: 'M/d/yy, h:mm:ss a' }} </td>
                        </ng-container>

                        <ng-container matColumnDef="updatedAt">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
                            <td mat-cell *matCellDef="let element"> {{ element.updatedAt | date: 'M/d/yy, h:mm:ss a' }} </td>
                        </ng-container>

                        <ng-container matColumnDef="Select">
                            <th mat-header-cell *matHeaderCellDef>Select</th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button>
                                <mat-icon color="primary" (click)="selectReference(element)">link</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                    </table>
                </div>
                <ng-container *ngIf="references.length < 1">
                <table class="table-empty-message">
                    <tbody>
                    <tr class="mat-row">
                        <td class="mat-cell">
                        <span>Loading references...</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </ng-container>
            </mat-card-content>
        </mat-card>
    </mat-dialog-content>
</div>