<div class="dialog-container">
    <mat-dialog-content class="dialog-content">
        <button type="button" mat-icon-button class="dialog-close-button" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>

        <mat-card class="dialog-card">
            <mat-card-header class="dialog-card-header">
                <mat-card-title class="dialog-card-title">
                    Edit Content <mat-chip class="title-chip">{{ content.Descriptor }}</mat-chip>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dialog-card-content">
                <form [formGroup]="editForm">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Data Descriptor (not displayed in the platform)</mat-label>
                        <input matInput placeholder="For example: chapter-1" formControlName="Descriptor">
                        <mat-error *ngIf="editForm.controls.Descriptor.invalid && editForm.controls.Descriptor.errors.required">Descriptor is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Label (Only if applicable: Breadcrumb, Button)</mat-label>
                        <input matInput placeholder="For example: Core statement 1" formControlName="Label">
                        <!-- <mat-error *ngIf="editForm.controls.Label.invalid && editForm.controls.Label.errors.required">Label is required.</mat-error> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Type</mat-label>
                        <mat-select placeholder="Type" formControlName="Type">
                            <mat-option value="chapter">Chapter</mat-option>
                            <mat-option value="subchapter">Subchapter</mat-option>
                            <mat-option value="statement">Statement</mat-option>
                            <mat-option value="substatement">Substatement</mat-option>
                            <mat-option value="evidence">Evidence</mat-option>
                        </mat-select>
                        <mat-error *ngIf="editForm.controls.Type.invalid && editForm.controls.Type.errors.required">Type is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Expand to Edit" formControlName="Title" hidden>
                        <div *ngIf="editFormExpandedStates.title == false" [froalaEditor]="inlineEditorOptions" formControlName="Title"></div>
                        <div *ngIf="editFormExpandedStates.title">
                            <div [froalaEditor]="editorOptionsTitle" formControlName="Title"></div>
                        </div>
                        <button 
                            type="button" 
                            matSuffix
                            mat-icon-button 
                            color="accent" 
                            matTooltip="Format Editor" 
                            matTooltipPosition="left"
                            (click)="editFormExpandedStates.title = !editFormExpandedStates.title"
                        >
                            <mat-icon>unfold_more</mat-icon>
                        </button>
                        <mat-error *ngIf="editForm.controls.Title.invalid && editForm.controls.Title.errors.required">Title is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Body</mat-label>
                        <input matInput placeholder="Expand to Edit" formControlName="Body" hidden>
                        <div *ngIf="editFormExpandedStates.body == false" [froalaEditor]="inlineEditorOptions" formControlName="Body"></div>
                        <div *ngIf="editFormExpandedStates.body">
                            <div [froalaEditor]="editorOptionsBody" formControlName="Body"></div>
                        </div>
                        <button 
                            type="button" 
                            matSuffix
                            mat-icon-button 
                            color="accent" 
                            matTooltip="Format Editor" 
                            matTooltipPosition="left"
                            (click)="editFormExpandedStates.body = !editFormExpandedStates.body"
                        >
                            <mat-icon>unfold_more</mat-icon>
                        </button>
                        <mat-error *ngIf="editForm.controls.Body.invalid && editForm.controls.Body.errors.required">Body is required.</mat-error>
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Supporting Documents</mat-label>
                        <mat-select 
                            placeholder="Select Supporting Documents"
                            formControlName="Documents" 
                            multiple
                        >
                            <mat-option *ngFor="let document of documents" [value]="document.id">{{document.MasterVersion.Title}}</mat-option>
                        </mat-select>
                        <button 
                            type="button" 
                            matSuffix
                            mat-icon-button 
                            color="primary" 
                            matTooltip="Select Supporting Documents" 
                            matTooltipPosition="right"
                            (click)="$event.stopPropagation(); openDocumentMultiSelectDialog(editForm.get('Documents'))"
                            class="input-suffix-btn"
                        >
                            <mat-icon>list_alt</mat-icon>
                        </button>
                        <mat-error *ngIf="editForm.controls.Documents.invalid"></mat-error>
                    </mat-form-field> -->
                    <mat-form-field appearance="outline" floatLabel="always" class="add-tag-input tag-input order-tag-input">
                        <mat-label>Supporting Documents</mat-label>
                        <input matInput hidden>
                        <tag-input 
                            formControlName="Documents"
                            [dragZone]="'zone1'"
                            secondaryPlaceholder="Supporting Documents"
                            placeholder=". . ."
                            (keyup)="$event.preventDefault()"
                            (keydown)="$event.preventDefault()"
                            [theme]="'dark'"
                        >
                            <tag-input-dropdown
                                [autocompleteItems]="documentsForAutoComplete"
                                [displayBy]=""
                            >
                            </tag-input-dropdown>
                        </tag-input>
                        <button 
                            type="button" 
                            matSuffix
                            mat-icon-button 
                            color="primary" 
                            matTooltip="Select Supporting Documents" 
                            matTooltipPosition="right"
                            (click)="$event.stopPropagation(); openDocumentMultiSelectDialog(editForm.get('Documents'))"
                            class="input-suffix-btn"
                        >
                            <mat-icon>list_alt</mat-icon>
                        </button>
                        <mat-hint>Drag and drop the list items to reorder</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Footnotes</mat-label>
                        <input matInput placeholder="Expand to Edit" formControlName="Footnotes" hidden>
                        <div *ngIf="editFormExpandedStates.footnotes == false" [froalaEditor]="inlineEditorOptions" formControlName="Footnotes"></div>
                        <div *ngIf="editFormExpandedStates.footnotes">
                            <div [froalaEditor]="editorOptions" formControlName="Footnotes"></div>
                        </div>
                        <button 
                            type="button"
                            matSuffix
                            mat-icon-button 
                            color="accent" 
                            matTooltip="Format Editor" 
                            matTooltipPosition="left"
                            (click)="editFormExpandedStates.footnotes = !editFormExpandedStates.footnotes"
                        >
                            <mat-icon>unfold_more</mat-icon>
                        </button>
                        <mat-error *ngIf="editForm.controls.Footnotes.invalid && editForm.controls.Footnotes.errors.required">Footnotes is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Abbreviations</mat-label>
                        <input matInput placeholder="Expand to Edit" formControlName="Abbreviations" hidden>
                        <div *ngIf="editFormExpandedStates.abbreviations == false" [froalaEditor]="inlineEditorOptions" formControlName="Abbreviations"></div>
                        <div *ngIf="editFormExpandedStates.abbreviations">
                            <div [froalaEditor]="editorOptions" formControlName="Abbreviations"></div>
                        </div>
                        <button 
                            type="button"
                            matSuffix
                            mat-icon-button 
                            color="accent" 
                            matTooltip="Format Editor" 
                            matTooltipPosition="left"
                            (click)="editFormExpandedStates.abbreviations = !editFormExpandedStates.abbreviations"
                        >
                            <mat-icon>unfold_more</mat-icon>
                        </button>
                        <mat-error *ngIf="editForm.controls.Abbreviations.invalid && editForm.controls.Abbreviations.errors.required">Abbreviations is required.</mat-error>
                    </mat-form-field>
                    <mat-checkbox
                        type="checkbox"
                        formControlName="Disabled">Hidden (not displayed in platform)
                    </mat-checkbox>
                </form>
                <div class="form-actions">
                    <button type="button" mat-button color="primary" (click)="restoreEditForm();">Restore</button>
                    <button type="button" mat-button color="primary" [disabled]="!editForm.dirty && !editForm.touched" (click)="resetEditForm();">Clear</button>
                    <button type="button" mat-raised-button color="primary" (click)="updateContent()" [disabled]="!editForm.dirty">Save</button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-dialog-content>
</div>