<article class="app-container">
  <mat-toolbar class="app-toolbar">
    <h2 class="app-toolbar-title">{{ title }}</h2>
    <mat-chip-list>
      <!-- <mat-chip disabled class="toolbar-chip">Users Online: {{ connectedUsers.length }}</mat-chip> -->
    </mat-chip-list>
    <div class="toolbar-bridge-gap"></div>
    <div class="toolbar-bridge-gap"></div>
    <app-connection></app-connection>
  </mat-toolbar>

  <mat-drawer-container class="app">

    <mat-drawer class="app-drawer" mode="side" opened>
      <mat-list>
        <ng-container *ngFor="let route of sidebarRoutes; trackBy trackRouteByPath;">
          <a class="app-drawer-link" [routerLink]="route.path" routerLinkActive="active" mat-list-item>
            <mat-icon mat-list-icon>{{ route.data.icon }}</mat-icon>
            <span mat-line>{{ route.data.title }}</span>
          </a>
        </ng-container>
      </mat-list>
    </mat-drawer>

    <mat-drawer-content class="app-content">
      <router-outlet></router-outlet>
    </mat-drawer-content>

  </mat-drawer-container>
</article>