/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme
@import "theme/theme";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: rgb(66, 152, 202);
  background: linear-gradient(
    45deg,
    rgba(241, 90, 64, 1),
    rgba(219, 88, 137, 1),
    rgba(148, 116, 180, 1),
    rgba(66, 152, 202, 1),
    rgba(76, 178, 189, 1),
    rgba(166, 176, 74, 1),
    rgba(241, 90, 64, 1)
  );

  background-size: 200% 200%;
  // background: rgb(76, 178, 189);
  // background: linear-gradient(45deg, rgba(76, 178, 189, 1) 0%, rgba(166, 176, 74, 1) 30%, rgba(235, 162, 33, 1) 70%, rgba(241, 90, 64, 1) 100%);
  -webkit-animation: Gradient 60s ease infinite;
  -moz-animation: Gradient 60s ease infinite;
  animation: Gradient 60s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

// -------------------------------------
//   Global Helpers
// -------------------------------------
.flex-bridge {
  flex: 1 1 auto;
}

// -------------------------------------
//   Toolbar
// -------------------------------------
.app {
  flex: 1 1 auto;

  &-container {
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
  }

  &-toolbar {
    background: rgba(241, 90, 64, 0);
    // background: rgb(241, 90, 64);
    // background: linear-gradient(45deg, rgba(241, 90, 64, 1) 0%, rgba(219, 88, 137, 1) 30%, rgba(148, 116, 180, 1) 70%, rgba(66, 152, 202, 1) 100%);

    &-title {
      color: #fafafa;
    }

    .toolbar-bridge-gap {
      flex: 1 1 auto;
    }
  }

  &-drawer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.33rem;

    &-link {
      display: block;

      text-decoration: none;
      color: mat-color($accent) !important;

      &.active {
        color: mat-color($primary) !important;
      }
    }
  }

  &-content {
    display: flex !important;
    flex-flow: column nowrap;
    & > :not(:first-child) {
      display: flex;
      flex-flow: column nowrap;
      flex: 1 1 auto;
    }

    box-sizing: border-box;
    padding: 10px;

    background: #fafafa;
    background: -moz-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(251, 251, 251, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(251, 251, 251, 1) 100%);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(251, 251, 251, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#fbfbfb", GradientType=1);
  }
}

// -------------------------------------
//   Grids & Cards
// -------------------------------------

.mat-card.dashboard-card {
  flex: 1 1 auto;

  border-radius: 4px;

  flex .mat-card-title-group {
    display: block;
  }
  .mat-card-content {
    overflow-y: auto;
  }

  .dashboard-card-header {
    position: relative;
    display: block;

    padding: 10px;
    padding-top: 13px; // offset :after height
    background: rgb(240, 240, 240);
    background: linear-gradient(
      0deg,
      rgba(232, 232, 232, 1) 0%,
      rgba(238, 238, 238, 1) 9%,
      rgba(240, 240, 240, 1) 100%
    );
    border: 1px solid rgb(232, 232, 232);
    border-radius: 4px 4px 0px 0px;
    color: rgba(0, 0, 0, 0.77);

    .dashboard-card-title {
      height: 20px;
      margin: 0;
      padding: 0;
      line-height: 20px;
      font-weight: 500;
    }

    .more-button {
      position: absolute;
      top: 3px;
      right: 10px;
      color: rgba(0, 0, 0, 0.77);
    }

    .mat-menu-item {
      font-size: 14px;
      line-height: 20px;
      .mat-icon {
        font-size: 20px;
      }
    }

    .mat-chip {
      margin-top: -10px;
      margin-right: 10px;
      line-height: 9px;
    }
  }
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0 3px 30px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.08) !important;
}

.mat-card.dialog-card {
  padding: 0px;
  border-radius: 4px;

  .dialog-card-header {
    position: relative;
    display: block;

    padding: 10px;
    padding-top: 13px; // offset :after height
    background: rgb(240, 240, 240);
    background: linear-gradient(
      0deg,
      rgba(232, 232, 232, 1) 0%,
      rgba(238, 238, 238, 1) 9%,
      rgba(240, 240, 240, 1) 100%
    );
    border: 1px solid rgb(232, 232, 232);
    border-radius: 4px 4px 0px 0px;
    color: rgba(0, 0, 0, 0.77);

    .dialog-card-title {
      height: 20px;
      margin: 0;
      padding: 0;
      line-height: 20px;
      font-weight: 500;
    }
  }
}
// -------------------------------------
//   Tables
// -------------------------------------
.mat-table {
  min-width: auto !important;
  width: 100%;

  .mat-header-row,
  .mat-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    min-height: 48px;
  }

  mat-header-cell,
  .mat-header-cell {
    height: 48px;
    vertical-align: middle;
    line-height: 48px;

    padding-left: 5px;
    padding-right: 5px;
  }

  mat-cell,
  .mat-cell {
    // white-space: nowrap; // breaks form field
    overflow: hidden;
    text-overflow: ellipsis;

    border-right: 1px solid rgba(0, 0, 0, 0.045);
    padding: 5px;
    // padding-left: 5px;
    // padding-right: 5px;
  }

  mat-row mat-cell,
  .mat-row .mat-cell {
    &:last-child {
      border-right: none;
    }
  }

  .hidden-column {
    display: none !important;
  }
}

.users-table-container {
  .mat-form-field-wrapper {
    margin: 0.5em 0 !important;
    padding-bottom: 0px;

    .mat-form-field-infix {
      border-top: 0.5em solid transparent;
    }
  }
}

.cell-editable {
  cursor: pointer;
}

// -------------------------------------
//   Dialogs
// -------------------------------------
.mat-dialog-container {
  padding: 0 !important; // default 24px
  border-radius: 6px !important;
  // background: rgba(255,255,255,.90);
  background: rgba(0, 0, 0, 0.25);
  // background: rgb(241, 90, 64);
  // background: linear-gradient(45deg, rgba(241, 90, 64, .5) 0%, rgba(219, 88, 137, .5) 30%, rgba(148, 116, 180, .5) 70%, rgba(66, 152, 202, .5) 100%);

  .mat-dialog-content {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;

    .mat-card {
      flex: 1 1 auto;
      overflow: hidden;

      .mat-card-header {
        max-height: 45px;
      }

      .mat-card-content {
        flex: 1 1 auto;
				height: -webkit-calc(100% - 70px);
				height: -moz-calc(100% - 70px);
				height: calc(100% - 70px); // -45px headeroffset
        overflow: auto;
      }
    }
  }
}

// -------------------------------------
//   Tag Input
// -------------------------------------

.tag-input {
  .mat-form-field-infix {
    padding: 0 0 0.5em 0 !important;
  }
}

// -------------------------------------
//   Chip Form Fields
// -------------------------------------

.ng2-tag-input {
  border-bottom: 0 !important;
}
.ng2-tag-input.ng2-tag-input--focused {
  border-bottom: 0 !important;
}

.chip-form-field {
  width: auto;
  margin-right: 20px;

  .mat-form-field-wrapper {
    width: 100%;
    border: 0;
    padding: 10px 0;
  }

  .mat-form-field-infix {
    width: 100%;
    border: 0;
    padding: 0;
  }
}

// -------------------------------------
//   File Input
// -------------------------------------

.input-file-container {
  .files-container {
    padding-top: 0 !important;
    padding-bottom: 8px;

    .file-container {
      flex: 1 1 auto;
      flex-direction: row !important;
      width: 100% !important;
      height: 100% !important;
      margin-right: 0 !important;

      .file-button {
        height: 100% !important;
        width: 100% !important;

        .input-icon {
          font-size: 2em;
          line-height: 40px;
          color: mat-color($primary);
        }
      }

      .replace-button {
        width: 100% !important;
        min-height: 40px;

        .input-icon {
          float: left;
          font-size: 1.8em;
          line-height: 40px;
          color: mat-color($accent);
        }

        .file-name {
          width: 80% !important;
          margin: auto !important;
          line-height: 40px;
        }
      }

      .secondary-button {
        height: 100% !important;
        width: 60px !important;
        min-width: 60px !important;
        min-height: 40px;

        .mat-icon {
          color: mat-color($primary);
        }
      }
    }
  }
}

.file-input-form-field {
  .mat-form-field-infix {
    padding: 0 !important;
  }
}

.cell-file-input-form-field {
  .mat-form-field-wrapper {
    padding: 0 !important;
    max-height: 34px;

    .mat-form-field-infix {
      border-top: 0 !important;
    }
  }

  .files-container {
    padding-top: 0 !important;
    padding: 0 !important;
    margin-top: 4px !important;

    .file-container {
      flex: 1 1 auto;
      flex-direction: row !important;
      width: 100% !important;
      height: 33px !important;
      margin-right: 0 !important;

      .file-button {
        height: 33px !important;
        min-height: 0 !important;
        width: 100% !important;

        .input-icon {
          font-size: 1.5em;
          line-height: 33px;
          color: mat-color($primary);
        }
      }

      .replace-button {
        height: 33px !important;
        min-height: 0 !important;
        width: 100% !important;

        .input-icon {
          float: left;
          font-size: 1.5em;
          line-height: 33px;
          color: mat-color($accent);
        }

        .file-name {
          width: 80% !important;
          margin: auto !important;
          line-height: 33px;
          font-size: 1em;
        }
      }

      .secondary-button {
        height: 33px !important;
        min-height: 0 !important;
        width: 60px !important;
        min-width: 60px !important;

        .mat-icon {
          font-size: 1.5em;
          line-height: 23px;
          color: mat-color($primary);
        }
      }
    }
  }
}

// -------------------------------------
//   Mat-cell Form Fields Flex
// -------------------------------------
.mat-cell {
  flex-direction: row;

  .cell-input-container {
    display: flex;
    width: 100%;
    // padding-right: 10px;
  }

  .mat-form-field {
    display: flex;
    flex: 1 1 auto;

    .mat-form-field-wrapper {
      flex: 1 1 auto;
      min-height: 40px;

      .mat-form-field-flex {
        min-height: 41px;
      }
    }
  }

  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    display: inline-block !important;
    top: 2px;
  }
}

.table-cell-input {
  //   margin-right: 6px;

  .mat-form-field-wrapper {
    padding: 0;
    border: 0;
  }

  .mat-form-field-infix {
    width: 100%;
    // width: 0 !important;
    padding: 10px 0;
    border-top: 0.15em solid transparent;
  }
}

.table-cell-cancel-btn,
.table-cell-save-btn {
  .mat-button-wrapper.mat-icon {
    line-height: 30px !important;
  }
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  display: inline-block !important;
}

// -------------------------------------
//   Content
// -------------------------------------

.content-block {
  position: relative;
  height: auto;
}

.content-main-card {
  padding: 20px !important;
}

.content-type-header {
  .mat-card-header-text {
    margin: 0 !important;
  }
}

.content-add-btn-main {
  margin: 10px !important;
}

// -------------------------------------
//   Content
// -------------------------------------

sup[type="reference"] {
  display: inline-block;
  height: 14px;
  margin: 0 3px;
  padding: 0 5px;
  background: #fdfdfd;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  font-family: Roboto, Arial, Helvetica, sans-serif !important;
  font-weight: 700 !important;
  font-size: 11px !important;
  line-height: 14px !important;
  color: #464646;
  cursor: pointer;
  &:hover {
    color: rgba(66, 152, 202, 1);
  }
}

.figure-preview {
  margin: 9px;
  padding: 15px;
  background: #fdfdfd;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  font-family: Roboto, Arial, Helvetica, sans-serif !important;
  font-weight: 700 !important;
  font-size: 11px !important;
  line-height: 14px !important;
  color: #464646;
  max-width: 300px;
  cursor: pointer;

  &:hover {
    color: rgba(66, 152, 202, 1);
  }

  &-image {
    pointer-events: none;
    width: 100%;
    height: auto;
  }
}

// -------------------------------------
//   S3 Filenames
// -------------------------------------
.s3-key-directory {
  display: block;
  font-size: 0.65em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 3px;
}

.s3-key-directory-discrete {
  display: block;
  font-size: 0.65em;
  // font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 3px;

  opacity: 0.5;
}

.s3-key-filename {
  display: block;
  margin-bottom: 3px;
}

.s3-key-hash {
  display: block;
  opacity: 0.5;
  font-size: 0.65em;
  margin-bottom: 5px;
}

.mat-expansion-panel-header-title {
  .cdk-drag-handle{
        margin: 0px 10px;
        opacity: 0.5;
  }
}
